.panel.panel-default.section-sidebar.section-profile-level
    .panel-heading
        | Your Profile Strength
        span.pull-right(hidden='')
            i.fa.fa-spinner.fa-pulse
    .panel-content.box-sm
        input(type='hidden', value='1')
        .profile-strength
            span.pull-left.m-r-xs  Your profile strength is
            strong.text-success Beginner
        hr.m-t.m-b
        p.take-to-next-level.strong-tooltip
            strong Take your profile to the next level:
        .list-group
            a.list-group-item
                | + Add Key Skill
                | (1)
            a.list-group-item + Add Work Experience
            a.list-group-item + Add Education
