/**
 * ALLPAGE CSS
 * Updated on 22/09/16
 */

 .demo-ui-pg {
     .row {
        padding: 15px 0;
     }
 }

 // General settings
.page-wrapper {
    background: transparent;
}

body {
    &.job-search-pg {
        background: #eee;
    }
    &.bodyover {
        overflow: hidden;
    }
}

.main {
    .home & {
        background: white;
        overflow: hidden;
    }
    .feature {
        margin-top: 10px!important;
        margin-bottom: 10px;
        display: block;
    }
    .panel {
        border: 1px #e5e5e5 solid;
        box-shadow: 0 3px 13px #333;
    }
}



.text-clip {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
}

.dred {
    color: @red!important;
    background-color: transparent;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Position class ----------
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.absolute-left {
    position: absolute;
    left: 0;
    top: 0;
}
.absolute-right {
    position: absolute;
    right: 0;
}

.transparent {
    opacity: 0;
}

.block {
    display: block;
}

.clickable {
    cursor: pointer;
}

// Form classes -------
form {
    margin: 0;
}
.form-wrapper {
    background: #fff;
    border: 1px solid transparent;
    border-left: 0;
    margin: 0;
    &:hover {
        border-left: 0;
        box-shadow: 0 0 5px #ccc;
        z-index: 2;
        .form-btn-edit {
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }
    .form-btn-edit {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
.form-horizontal {
    .form-group {
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}
.form-control {
    height: 30px;
    box-shadow: none;
    font-size: 12px;
    font-style: normal;
}
.has-feedback {
    label {
        ~ .form-control-feedback {
            top: 19px;
        }
    }
}

// Button class ---------
.btn {
    border: 1px solid transparent;
    padding: 5px 25px;
    line-height: 1.42857143;
    border-radius: 2px;
    font-size: 12px;
    color: @dgray;
    margin: 0;
    height: 30px;
    &:hover {
        border-color: transparent;
    }
    &:focus {
        outline: none;
    }
    &:first-child {
        margin: 0;
    }
    &.btn-sm {
        font-size: 10px;
        padding: 5px 10px;
        line-height: 1.46666667;
        border-radius: 3px;
    }
    &.btn-lg {
        padding: 10px 25px;
        font-size: 18px;
        line-height: 1.46666667;
        border-radius: 4px;
        margin: 10px 0;
        height: auto;
    }
    &.btn-default, &.btn-lgray {
        background-color: #f4f4f4;
        border-color: #ccc;
        color: @dgray;
        .open > &.dropdown-toggle {
            background: #ddd;
            border-color: #ccc;
            box-shadow: none;
            color: @dgray;
        }
        &:hover {
            background: #ddd;
        }
    }
    &.btn-bdline {
        background: white;
        border-color: #aaa;
        &:hover {
            background: #ccc;
            border-color: transparent;
        }
    }
    &.btn-dgray {
        color: white;
        background: @dgray;
        &:hover {
            background: darken(@dgray, 10%);
        }
    }
    &.btn-primary, &.btn-red {
        background: @red;
        color: white;
        border-color: transparent;
        &:hover, &:focus {
            background: @dred;
            border-color: @dred;
            color: white;
            outline: none;
        }
    }
    &.btn-success {
        color: white;
    }
    &.btn-remove-this-section {
        border: none;
        background: none;
        font-size: 17px;
        padding: 5px 25px;
        margin-right: 10px;
        &:hover {
            color: @red;
        }
    }
    &.btn-cancel {
        margin-right: 10px;
    }
    &.btn-link {
        border: none;
        background: none;
        color: #555;
    }
}

// Dropdown menu class
.dropdown-menu {
    > li {
        > a {
            &:hover {
                color: @dred;
            }
        }
    }
}

// Background color class --------
.bg-gray {
    background: #f4f4f4!important;
}

// Color class
.gray-light {
    color: #999!important;
}

// Border class ---------
.border-primary {
    border-left: 5px solid @red;
    .border-radius(3px);
}
.border-success {
    border-left: 5px solid #5cb85c;
    .border-radius(3px);
}

// Distance classes ---------
.m-t {
    margin-top: 15px
}
.m-b {
    margin-bottom: 15px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-r-xs {
    margin-right: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t-n-lg {
    margin-top: -30px;
}
.m-t-xs {
    margin-top: 5px;
}
.no-padding {
    padding: 0!important;
}
.no-margin {
    margin: 0!important;
}
.push-top-15, .push-top-sm {
    margin-top: 15px;
}

// Scroll to Top class -------
.scrollToTop {
    width: 30px;
    height: 30px;
    bottom: 15px;
    i {
        line-height: 30px;
        font-size: 15px;
    }
}

// Typography classes
.text-gray-light {
    color: #999;
}
.text-success {
    color: #5cb85c!important;
}
.text-info {
    color: #00b9f2;
}
.text-red {
    color: @red!important;
}
.placeholder {
    color: #999;
    font-style: italic;
}

// Well effect
.well {
    background: inherit;
    &.dash {
        border: 1px dashed #ccc;
    }
}

// Guide box
.guide-box {
    position: absolute;
    top: 50%;
    left: 0;
    .transform(translate(-103%, -50%));
    background: @blue;
    padding: 10px 15px 10px 30px;
    .border-radius(3px);
    color: white;
    .box-shadow(0 0 30px rgba(0,55,72,.3));
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        top: 50%;
        right: -5px;
        margin-top: -5px;
        border-width: 5px 0 5px 6px;
        border-left-color: @blue;
    }
    .close-msg {
        position: absolute;
        top: 50%;
        left: 15px;
        color: #2ba3d0;
        margin-right: 10px;
        .transform(translate(-50%, -50%));
        &:hover {
            color: @dred;
        }
    }
}

// Autocomplete dropdown box
.auto-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    &.f-w {
        display: block;
    }
    .auto-content {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        background: white;
        z-index: 10;
        padding: 10px 0;
        .box-shadow(0 0 3px rgba(0, 55, 72, 0.3));
        border: 1px solid #ddd;
        li {
            display: block;
            font-weight: 700;
            padding: 10px 15px;
            color: @dgray;
            &:hover {
                background: #ddd;
            }
        }
    }
}

// Autocomplte Plugin
.autocomplete-suggestions {
    strong {
        color: #333;
        font-weight: bold;
    }
    .autocomplete-suggestion {
        white-space: initial;
        overflow: initial;
        padding: 10px 5px;
    }
}

// Warning box
 .warning {
    position: relative;
    padding: 15px 30px 15px 15px;
    .border-radius(3px);
    border-left: 5px solid @dred;
    background: white;
    margin-bottom: 15px;
    i {
        &.fa-info-circle {
            color: @dred;
            font-size: 15px;
            margin-right: 5px;
        }
    }
    strong {
        margin-right: 5px;
    }
    .warning-msg {
        position: absolute;
        color: #ccc;
        top: 50%;
        right: 15px;
        .transform(translate(50%, -50%));
    }
 }

// Loading CSS
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: @red;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// Avatar CSS
.avatar {
    border: 1px #E5E5E5 solid;
    background: #fff;
    width: 115px;
    height: 115px;
    display: block;
    overflow: hidden;
    text-align: center;
    background: url("../images/no_img_user.png") center no-repeat;
    background-size: cover;
    &.avatar-sm {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
}

// Sitemap CSS
.sitemap {
    li {
        margin: 15px 0;
    }
}

// Select2 Plugin CSS
.select2-ip {
    &.select2-ip-lg {
        & + .select2-container {
            .select2-selection {
                height: 48px;
                .select2-selection__rendered {
                    height: 48px;
                    line-height: 48px;
                }
                .select2-selection__arrow {
                    height: 48px;
                }
            }
        }
    }
    &.f-w {
        & + .select2-container {
            width: 100%!important;
        }
    }
}

// Bootstrap datetimepicker CSS
.bootstrap-datetimepicker-widget {
    display: block!important;
    table {
        td {
            &.active, &.active:hover {
                background: @red;
            }
            &.today {
                &:before {
                    border-bottom-color: @red;
                }
            }
        }
    }
}
