/**
 * ALLPAGE CSS
 * Updated on 22/09/16
 */
.page-wrapper {
    background: transparent;
}

body {
    &.job-search-pg {
        background: #eee;
    }
    &.bodyover {
        overflow: hidden;
    }
}

.main {
    // .row {
    //     margin: 0 -5px;
    // }
    // .container {
    //     padding: 0 5px;
    // }
    // [class*="col-"] {
    //     padding: 0 5px;
    // }
    .feature {
        margin-top: 10px!important;
        margin-bottom: 10px;
        display: block;
    }
    .panel {
        border: 1px #e5e5e5 solid;
        box-shadow: 0 3px 13px #333;
    }
}

.no-padding {
    padding: 0!important;
}

.no-margin {
    margin: 0!important;
}

.text-clip {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    vertical-align: middle;
}

.dred {
    color: @red!important;
    background-color: transparent;
}

.scrollToTop {
    width: 30px;
    height: 30px;
    bottom: 15px;
    i {
        line-height: 30px;
        font-size: 15px;
    }
}
