section.blog-blk.container
    .blog-itm
        .col-md-2.col-sm-3.col-xs-5.box-sm
            a(href='#')
                img.img-responsive(title='8 Steps to Getting Recruited', alt='8 Steps to Getting Recruited', src='./uploads/interview_0.jpg')
        .col-md-10.col-md-9.col-xs-7.box-sm
            h3
                a.dred(href='#') 8 Steps to Getting Recruited
            p It's every high school athlete's dream: That someday all those endless practices, tiring scrimmages, overpriced equipment and exhausting games might translate into a chance to play sports on the collegiate level.
