.float-popup.applied-jobs.hidden-xs.hidden-jobbox
    .appl-inner
        table.table
            thead
                tr
                    th(width="20px") #
                    th
                        | Selected Jobs
                        i.fa.pull-right.fa-chevron-down.btn-minimize-panel
                    th
                        i.fa.fa-close.fa-lg.delete-all-job(title='Remove all')
            tbody
            tfoot
                tr
                    td.text-right(colspan='3')
                        a.btn-apply-job.btn.btn-primary.btn-sm(href='javascript:;') Apply All
