/**
 * SECTION RESUME HEADER CSS
 * Updated on 01/10/16
 */

.section-header {
    margin-top: 10px;
    .absolute-right {
        right: 15px;
    }
}

.section-resume-header {
    .dropdown {
        > a {
            &:before {
                content: none;
            }
        }
    }
    .box {
        margin: 0;
        .border-radius(0);
    }
    hr {
        margin: 5px 0 20px 0;
    }
}

.main-profile {
    .user-pic {
        .avatar {
            margin: 18px auto;
            margin-right: 25px;
            position: relative;
            &:hover, &:focus {
                outline: none;
                p {
                    background: rgba(0, 0, 0, 0.4);
                }
                .fa-camera, span {
                    .transform(scale(1));
                }
            }
            p {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 5px 0 0;
                z-index: 2;
                color: #fff;
                text-align: center;
                background: rgba(0, 0, 0, 0);
                .transition(all 0.2s ease-out);
                margin: 0;
                height: 40px;
                .fa-camera {
                    font-size: 18px;
                }
            }
            span {
                display: block;
                font-size: 10px;
            }
            .fa-camera, span {
                .transform(scale(0));
                .transition(all 0.2s ease-out);
            }
        }
    }
}

.main-profile {
    .editMode {
        .profile-info {
            .name {
                width: 50%;
                padding-right: 15px;
            }
            .last-name {
                margin-left: 0;
                width: 50%;
                padding-left: 15px;
            }
        }
    }
    .profile-info {
        margin-top: 0;
        margin-bottom: 0;
        .profile-name {
            color: @red;
            margin-top: 5px;
            font-size: 20px;
            font-weight: 500;
        }
        .last-name {
            margin-left: 5px;
        }
        .text-gray-light {
            margin-right: 3px;
        }
        p {
            a {
                color: @red;
            }
        }

    }
    .view-control {
        margin-right: 3px;
    }
}

.new-graduate {
    label {
        font-weight: 400;
        text-transform: initial;
    }
}

// TAB PROFILE CSS
.tab-prof-wrap {
    display: none;
}


// ADD MEDIA CSS
.add-media {
    height: 110px;
    .media-upl {
        margin-top: 15px;
        font-size: 12px;
    }
    label {
        font-weight: normal;
    }
    .text-or {
        font-weight: bold;
        color: #555;
        position: absolute;
        top: 50%;
        right: 0;
        .transform(translateY(-50%));
        .line {
            content: "";
            position: absolute;
            width: 1px;
            height: 50px;
            background: #555;
            left: 50%;
            top: 50%;
            .transform(translate(-50%, -50%));
            z-index: 1;
        }
        .or-ct {
            position: relative;
            z-index: 5;
            background: white;
            display: inline-block;
            padding: 3px 0;
        }
    }
    .media-youtb {
        font-size: 12px;
    }
    .form-control {
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 14px;
            color: #ccc;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            font-size: 14px;
            color: #ccc;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            font-size: 14px;
            color: #ccc;
        }
        &:-moz-placeholder { /* Firefox 18- */
            font-size: 14px;
            color: #ccc;
        }
    }
    .media-btn-group {
        height: 90px;
        .btn {
            position: absolute;
            left: 50%;
            bottom: 0;
            .transform(translateX(-50%));
        }
    }
}

// MEDIA TABLE CSS
.table {
    margin: 0;
    font-size: 12px;
    border: 1px solid #f3f3f3;
    .tbl-head {
        background: #eee;
        &:hover {
            background: #eee;
        }
    }
    tr {
        &:hover {
            background: #f1f1f1;
        }
    }
    > tbody {
        > tr {
            > td {
                vertical-align: middle;
            }
        }
    }
    .del-row {
        &:hover {
            color: @red;
        }
    }
    .fa {
        font-size: 18px;
    }
    .fa-file-word-o {
        color: @blue;
    }
    .fa-file-pdf-o, .fa-youtube {
        color: @red;
    }
    .accept, .unaccept {
        margin-right: 20px;
    }
    .accept {
        color: @green;
    }
    .unaccept {
        color: #999;
    }
}

