block vars
  -title="After apply - interview-spot.com"
extends layouts/layout
block main
    section.main.container
        .warning.warning-success
            i.fa.fa-info-circle
            span
                strong Congratulations!
                |   You have successfully applied for 
                strong Customer Services Manager
            a.warning-msg.pull-right(href="javascript:;")
                i.fa.fa-remove
        .after-apply.box
            .box-md
                h3.after-ttl Jobs you might be interested in
                .job-list
                    .job-itm
                        .row
                            .col-sm-10
                                h3.job-itm-ttl 
                                    a(href="#") Customer Services Manager
                                p.company ALMA
                                .extra-info
                                    span.circle
                                        i.fa.fa-map-marker
                                    | Singapore
                                .extra-info
                                    span.circle
                                        i.fa.fa-dollar
                                    | $1000 - $1500
                            .job-apply.t-r.col-sm-2
                                button.btn.btn-default Apply
                        .posted.f-r
                            small Posted: 24/09/2016
                    .job-itm
                        .row
                            .col-sm-10
                                h3.job-itm-ttl 
                                    a(href="#") Customer Support/ Customer Service Teamlead/ Supervisor/ Manager
                                p.company SCC (specialist Computer Centres) Ltd.
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-1x.fa-map-marker
                                    | Singapore
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-dollar
                                    | Negotiable
                            .job-apply.t-r.col-sm-2
                                button.btn.btn-default Apply
                        .posted.f-r
                            small Posted: 24/09/2016
                    .job-itm
                        .row
                            .col-sm-10
                                h3.job-itm-ttl 
                                    a(href="#") Hardware Supervisor
                                p.company Gameloft
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-1x.fa-map-marker
                                    | Singapore
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-dollar
                                    | $1000 - $1500
                            .job-apply.t-r.col-sm-2
                                button.btn.btn-default Apply
                        .posted.f-r
                            small Posted: 25/10/2016
                    .job-itm
                        .row
                            .col-sm-10
                                h3.job-itm-ttl 
                                    a(href="#") 3D Game Artist Trainer
                                p.company Gameloft
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-1x.fa-map-marker
                                    | Singapore
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-dollar
                                    | Negotiable
                            .job-apply.t-r.col-sm-2
                                button.btn.btn-default Apply
                        .posted.f-r
                            small Posted: 24/09/2016
                    .job-itm
                        .row
                            .col-sm-10
                                h3.job-itm-ttl 
                                    a(href="#") Outside Sales Executive/ Fashion, Cosmetic And Retails
                                p.company ALMA
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-1x.fa-map-marker
                                    | Singapore
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-dollar
                                    | $1000 - $1500
                            .job-apply.t-r.col-sm-2
                                button.btn.btn-default Apply
                        .posted.f-r
                            small Posted: 25/10/2016
                    .job-itm
                        .row
                            .col-sm-10
                                h3.job-itm-ttl 
                                    a(href="#") .Net / Web Developer (high Salary And Good Working Environment)
                                p.company IMIP Technology And Solution Consultancy JSC
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-1x.fa-map-marker
                                    | Singapore
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-dollar
                                    | $1000 - $1500
                            .job-apply.t-r.col-sm-2
                                button.btn.btn-default Apply
                        .posted.f-r
                            small Posted: 24/09/2016
                    .job-itm
                        .row
                            .col-sm-10
                                h3.job-itm-ttl 
                                    a(href="#") iOS Developer [ Attractive Salary ]
                                p.company Planday
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-1x.fa-map-marker
                                    | Singapore
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-dollar
                                    | $500 - $750
                            .job-apply.t-r.col-sm-2
                                button.btn.btn-default Apply
                        .posted.f-r
                            small Posted: 25/10/2016
                    .job-itm
                        .row
                            .col-sm-10
                                h3.job-itm-ttl 
                                    a(href="#") Short-term Admin Assistant
                                p.company Better Work
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-1x.fa-map-marker
                                    | Singapore
                                .extra-info
                                    span.circle
                                        i.fa.fa-fw.fa-dollar
                                    | Up to $1000
                            .job-apply.t-r.col-sm-2
                                button.btn.btn-default Apply
                        .posted.f-r
                            small Posted: 24/09/2016
                p.apply-all.t-r
                    button.btn.btn-primary Apply all
        // End: BOX AFTER APPLY