block vars
  -title="interview-spot.com"
  -bodyClass = "home"
extends layouts/layout
block main
    .slideshow.clearfix
        include blocks/home/main-slider
        include blocks/home/search-widget
    section.main
        include blocks/home/ads/top-ads.jade
        section.feature.container
            .row
                .col-md-9.col-sm-12
                    include blocks/home/tabs/m-blk
                .col-md-3.col-sm-12
                    include blocks/home/ads/sidebar-ads
        // END: FEATURE BLOCK
        include blocks/home/banners/m-blk
        include blocks/home/blog/m-blk
block script
    script(type='text/javascript', src="./js/actions/search_job.plg.js")
