block vars
  -title="Login - interview-spot.com"
extends layouts/layout
block main
    section.main.container
        .box.user-sign-blk
            .box-md
                h1.t-c.user-sign-ttl Sign In
                p.t-c Choose one of the following sign in methods.
                p.t-c.social-bar
                    a.btn.btn-default.btn-facebook(href="#")
                        i.fa.fa-fw.fa-facebook
                        span.social-name Facebook
                    a.btn.btn-primary(href="#")
                        i.fa.fa-fw.fa-google
                        span.social-name Google
                hr
                p.t-c.user-sign-or Or sign in using your email address.
                .user-sign-form.t-c
                    form
                        .form-group
                            input.form-control(type="text", name="username", placeholder="Enter your email address", required)
                        .form-group
                            input.form-control(type="password", name="password", placeholder="Enter your password", required)
                            p.t-r.forgot
                                a.link-sign.small(href="#") Forgot Password ?
                        .form-group
                            button.btn.btn-primary(type="submit") Sign In
                hr
                p.t-c Don't have an account yet ?
                    a.link-sign.register(href="#")   Register Now!
                    
        