block vars
    -title="Message - Mail - interview-spot.com"
extends layouts/layout
block main
    section.main.main-message.container
        .msg-list-box.col-sm-5.col-md-4
            include blocks/message/left-message-list
        .chatbox.col-sm-7.col-md-8
            include blocks/message/right-message-chatbox-mail