block vars
  -title="Signup - interview-spot.com"
extends layouts/layout
block main
    section.main.container
        .box.user-sign-blk
            .box-md
                h1.t-c.user-sign-ttl Join Today
                p.t-c Choose one of the following sign up methods.
                p.t-c.social-bar
                    a.btn.btn-facebook(href="#")
                        i.fa.fa-fw.fa-facebook
                        span.social-name Facebook
                    a.btn.btn-primary(href="#")
                        i.fa.fa-fw.fa-google
                        span.social-name Google
                hr
                p.t-c.user-sign-or Or sign up using your email address.
                .user-sign-form
                    form
                        .form-group
                            input.form-control(type="text", name="u_fname", placeholder="Enter your first name", required)
                        .form-group
                            input.form-control(type="text", name="u_lname", placeholder="Enter your last name", required)
                        .form-group
                            input.form-control(type="email", name="u_email", placeholder="Enter your email", required)
                        .form-group
                            input.form-control(type="password", name="u_password", placeholder="Enter your password", required)
                        .checkbox.t-l
                            label
                                input(type="checkbox", name="chkIsNewLetter", check="checked")
                                span.subscribe  I would like to receive Newsletters.
                        .form-group
                            button.btn.btn-primary(type="submit") Sign Up
                p.t-c By clicking on "Sign Up", I have read and accept
                    a.link-sign(href="#")   Privacy & Policy
                    |  and
                    a.link-sign(href="#")   Terms of Use
        // END BOX SIGN UP
        