block vars
  -title="Sitemap - interview-spot.com"
  -bodyClass = "home sitemap"
extends layouts/layout
block main
    section.main
        .container
            ol
                li
                    a(href="./index.html", target="_blank") Index
                li
                    a(href="./login.html", target="_blank") Login
                li
                    a(href="./signup.html", target="_blank") Sign Up
                li
                    a(href="./job-search.html", target="_blank") Job Search
                li
                    a(href="./job-search-loading.html", target="_blank") Job Search Loading
                li
                    a(href="./profile.html", target="_blank") Profile
                li
                    a(href="./profile-no-cv.html", target="_blank") Profile - No CV
                li
                    a(href="./job-detail.html", target="_blank") Job Detail
                li
                    a(href="./job-detail-has-video.html", target="_blank") Job Detail - Has Video
                li
                    a(href="./after-apply.html", target="_blank") After Apply
                li
                    a(href="./message-no-msg.html", target="_blank") Message - No messages
                li
                    a(href="./message-has-msg.html", target="_blank") Message - Has messages
                li
                    a(href="./message-mail.html", target="_blank") Message - Mail
                li
                    a(href="./demo-elements.html", target="_blank") Demo Elements
                li
                    a(href="./sitemap.html", target="_blank") Sitemap
block script
    script(type='text/javascript', src="./js/actions/search_job.plg.js")
