section.top-ads.container
    #ads_TOP_COMPANIES_HORISONTAL.row
        .col-md-2.col-sm-2.col-xs-4
            a.single-ad(target='_blank', href='#')
                img.salesLogoImage(src='./uploads/com-gen.jpg', width='88', height='43')
                span.ad-slogan Gentherm Singapore
        .col-md-2.col-sm-2.col-xs-4
            a.single-ad(target='_blank', href='#')
                img.salesLogoImage(src='./uploads/com-cowell.jpg', width='88', height='43')
                span.ad-slogan Trusted IT Partner
        .col-md-2.col-sm-2.col-xs-4
            a.single-ad(target='_blank', href='#')
                img.salesLogoImage(src='./uploads/com-fpt.jpg', width='88', height='43')
                span.ad-slogan
        .col-md-2.col-sm-2.col-xs-4
            a.single-ad(target='_blank', href='#')
                img.salesLogoImage(src='./uploads/com-tech.jpg', width='88', height='43')
                span.ad-slogan
        .col-md-2.col-sm-2.col-xs-4
            a.single-ad(target='_blank', href='#')
                img.salesLogoImage(src='./uploads/com-eva.jpg', width='88', height='43')
                span.ad-slogan Make new IT Market
        .col-md-2.col-sm-2.col-xs-4
            a.single-ad(target='_blank', href='#')
                img.salesLogoImage(src='./uploads/com-panasonic.jpg', width='88', height='43')
                span.ad-slogan Panasonic Singapore Group
// END: TOP ADS
