.featured-employer
    .panel
        .panel-header
            h3.no-margin.no-padding Featured Employers
        .panel-content
            #ads_TOP_COMPANIES(style='clear:both;')
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/com-archetype.jpg', width='88', height='43')
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.simg-responsive(src='./uploads/com-speakup.jpg', width='88', height='43')
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/com-elmich.jpg', width='88', height='43')
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/com-3m.jpg', width='88', height='43')
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/com-vpbank.jpg', width='88', height='43')
                a.cusLogo(target='_blank', href='# ')
                    img.salesLogoImage.img-responsive(src='./uploads/com-automatic.jpg', width='88', height='43')
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/com-dynosis.jpg', width='88', height='43')
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/com-asiag.jpg', width='88', height='43')
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/com-opec.jpg', width='88', height='43')
                a.cusLogo(target='_blank', href='# ')
                    img.salesLogoImage.img-responsive(src='./uploads/com-hawee.jpg', width='88', height='43')
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/com-mapleitree.png', width='88', height='43')
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/com-eagle.jpg', width='88', height='43')
            a.view-all(href='#', title='View all Featured employers') View all featured employers
