.msg-header
    h3.msg-header-ttl
        i.fa.fa-fw.fa-comments-o
        | All Messages
        a.close.f-r.visible-xs(href="javascript:;")
            span.fa.fa-remove
.msg-list-body
    .msg-list.list-group
        .msg-itm.list-group-item.active
            .msg-ava.avatar.img-circle
                img(src="./uploads/user_ava.jpg", alt="")
            .msg-content
                .msg-time.f-r Sep 20
                h5.msg-heading Harry Jones
                p.msg-text
                    small Hi Teddy, Just wanted to let you know we got the project! We should be...
            span.ico-close.fa.fa-times-circle-o
        .msg-itm.list-group-item.sponsored
            .msg-ava.avatar
                img(src="./uploads/uni-chicago.jpg", alt="")
            .msg-content
                .msg-time.f-r Sep 20
                p.label Sponsored
                h5.msg-heading The University of Chicago 
                p.msg-text
                    small Executive MBA Information Session. 
                    br
                    small Join us in Singapore 
            span.ico-close.fa.fa-times-circle-o
        .msg-itm.list-group-item
            .msg-ava.avatar.img-circle
                img(src="./uploads/user_ava.jpg", alt="")
            .msg-content
                .msg-time.f-r Sep 20
                h5.msg-heading Daniel Taylor
                p.msg-text
                    small Teddy Boyyyy, label text isn't vertically aligned with value text in grid forms when using .form-control...
            span.ico-onl
            span.ico-close.fa.fa-times-circle-o
        .msg-itm.list-group-item
            .msg-ava.avatar.img-circle
                img(src="./uploads/user_ava.jpg", alt="")
            .msg-content
                .msg-time.f-r Sep 20
                h5.msg-heading Charlotte Harrison
                p.msg-text
                    small Dear Teddy, Can we discuss the benefits of this approach during our Monday meeting?
            span.ico-close.fa.fa-times-circle-o
// End: BOX LEFT MESSAGE LIST - MESSAGE