.t-c
    h2.msg-chatbox-ttl New Messaging Platform!
    p.msg-chatbox-desc Once received message from employer, you can chat online with them.
    a.btn.btn-lg.btn-primary(href="javascript:;") Apply for a job now!
// End: BOX RIGHT MESSAGE CHATBOX - NO MESSAGE