.chatbox-header
    .avatar.avatar-sm.img-circle
        img(src="./uploads/uni-chicago.jpg", alt="")
    .user-desc
        h3.name The University of Chicago
.chatbox-body.sponsored
    h3 Executive MBA Information Session.
    p Dear Victor,
    p Join us for upcoming 
        a(href="#") Executive MBA Information Session in Singapore 
        | on Tuesday, November 8, 2016 and learn how our top-ranked Executive MBA program attracts the best and brightest executives from around the Asia-Pacific region.
    p Delivered on our Hong Kong campus, our uniquely global general management program includes study periods at our campuses in Chicago and London. You'll collaborate and connect with executives from all over the world, without interruption to your career.
    p Reserve your seat at our 
        a(href="#") Information Session 
        | on November 8, 2016 to
    ul
        li Learn how the Chicago Booth Executive MBA program can help advance your career.
        li Network with alumni & current students and find out first-hand about their EMBA experiences.
        li Meet the admissions team and receive feedback on your candidacy.
    p For any inquiries, please email us at 
        a(href="#") asia.inquiries@ChicagoBooth.edu
    p We look forward to meeting you in person.
    p Best Regards,
        br
        strong Admissions team
        br
        strong Executive MBA Program Asia
        br
        strong The University of Chicago Booth School of Business
    button.btn.btn-primary Register now
// End: BOX RIGHT MAIL - MESSAGE