/**
 * Media 480px-767px
 *
 * description: css rules for screen of new moderm smartphone
 */
@media (max-width: 767px) {
    .main-profile {
        .section-resume-header {
            .user-info {
                // background: @red;
                .download-resume {
                    .btn-default {
                        margin-top: 10px;
                    }
                }
                .btn {
                    &.btn-block {
                        border: none;
                    }
                    &.contact-information-toggler {
                        text-align: right;
                        margin-top: -10px!important;
                        margin-right: 10px;
                        background: 0 0!important;
                        font-size: 20px;
                    }
                }
            }
            .user-pic {
                .avatar {
                    margin: 10px auto;
                    width: 70px;
                    height: 70px;
                }
            }
            .prof-itm-sm {
                font-size: 12px;
            }
            .download-resume {
                margin-top: 5px;
                .btn {
                    padding: 5px;
                }
            }
            .box-md {
                padding-bottom: 40px;
            }
        }
        .editMode {
            .profile-info {
                .name, .last-name {
                    width: 100%;
                    padding: 0;
                }
                .name {
                    .edit-field {
                        margin-bottom: 5px;
                    }
                }
                .profile-name {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .main-profile {
        .section-detail {
            legend {
                &.box-md {
                    font-size: 16px;
                }
            }
        }
        label {
            &.control-label {
                margin: 0;
            }
        }
    }
}
