#htab2.tab-pane.fade
    ul.job-list
        li.hot-job
            a(target='_blank', href='#', title='job here')
                span.score
                    span.label.label-danger HOT
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li.hot-job
            a(target='_blank', href='#', title='job here')
                span.score
                    span.label.label-danger HOT
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
