section.square-banner.container
    .row
        .col-md-3.col-sm-3.col-xs-6.b-item
            .square-itm
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/5-dieu-ung-vien-khong-nen-noi-doi_100024.jpg', width='234', height='234')
        .col-md-3.col-sm-3.col-xs-6.b-item
            .square-itm
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/234x234-n_100039.gif', width='234', height='234')
        .col-md-3.col-sm-3.col-xs-6.b-item
            .square-itm
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/bat-square-21052012_100023.gif', width='234', height='234')
        .col-md-3.col-sm-3.col-xs-6.b-item.last-item
            .square-itm
                a.cusLogo(target='_blank', href='#')
                    img.salesLogoImage.img-responsive(src='./uploads/234x234pepsico_100073.gif', width='234', height='234')
