/**
 * SECTION RESUME HEADER CSS
 * Updated on 01/10/16
 */

.section-header {
    margin-top: 10px;
    .absolute-right {
        right: 15px;
    }
}

.section-resume-header {
    .dropdown {
        > a {
            &:before {
                content: none;
            }
        }
    }
    .box {
        margin: 0;
        .border-radius(0);
    }
    hr {
        margin: 5px 0 20px 0;
    }
}

.main-profile {
    .user-pic {
        .avatar {
            padding: 5px;
            border: 1px #E5E5E5 solid;
            background: #fff;
            width: 115px;
            height: 115px;
            line-height: 115px;
            display: block;
            overflow: hidden;
            text-align: center;
            margin: 18px auto;
            margin-right: 25px;
        }
        .avatar-sample {
            line-height: 135px;
            color: #eee;
            font-size: 2em;
        }
        .dropdown-menu {
            margin-left: 10px;
            margin-top: 3px;
            min-width: 160px;
            a {
                margin: 0;
            }
        }
    }
}

.main-profile {
    .editMode {
        .profile-info {
            .name {
                width: 50%;
                padding-right: 15px;
            }
            .last-name {
                margin-left: 0;
                width: 50%;
                padding-left: 15px;
            }
        }
    }
    .profile-info {
        margin-top: 0;
        margin-bottom: 0;
        .profile-name {
            color: @red;
            margin-top: 5px;
            font-size: 20px;
            font-weight: 500;
        }
        .last-name {
            margin-left: 5px;
        }
        .text-gray-light {
            margin-right: 3px;
        }
        p {
            a {
                color: @red;
            }
        }

    }
    .contact-information-toggler {
        .border-radius(0);
        background: #e0e0e0;
        border: none;
        &:hover {
            background: #e0e0e0;
        }
        .fa {
            margin-right: 3px;
        }
    }
    .view-control {
        margin-right: 3px;
    }
}

.new-graduate {
    label {
        font-weight: 400;
        text-transform: initial;
    }
}
