/**
 * JOB SEARCH: PAGINATION CSS
 * Updated on 27/09/16
 */

.pagi-style() {
    background: white;
    border-color: #ccc;
    color: #555;
    &:hover, &:focus {
        color: white;
        background: #bcbcbc;
        border-color: transparent;
    }
}

.job-search {
    nav {
        text-align: center;
        margin: 20px 40px;
    }
}

ul.pagination {
    margin: 0;
    li {
        &:first-child, &:last-child {
            a {
                .pagi-style();
            }
            span {
                display: inline-block;
                background: white;
                border-color: #ccc;
                color: #555;
                cursor: not-allowed;
                .border-radius(100%);
            }
        }
        &.active {
            span {
                display: inline-block;
                background: @red;
                border-color: transparent;
                .border-radius(100%);
                width: 40px;
                height: 40px;
                border: none;
                &:hover {
                    background: @red;
                    border: none;
                }
            }
        }
        a {
            .pagi-style();
        }
        span {
            text-align: center;
            padding: 0;
            height: 40px;
            width: 40px;
            line-height: 39px;
            display: inline-block;
            background: white;
            border-color: #ccc;
            color: #555;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
        }
    }
}
