.user-info.border-primary
    .row
        .col-xs-4.col-sm-3.center-block
            .form-wrapper.relative.no-edit-mode
                .user-pic
                    form
                        span.form-btn-edit.hidden-xs
                            button.btn(type='button')
                                i.fa.fa-pencil
                        .dropdown
                            a.dropdown-toggle(data-toggle='dropdown', aria-expanded='true')
                                .avatar.img-circle
                                    .avatar-sample
                                        i.fa.fa-3x.fa-user
                            ul.dropdown-menu.hidden-xs(role='menu', aria-labelledby='pic-dropdown')
                                li(role='presentation')
                                    a.block.relative(role='menuitem', tabindex='-1')
                                        i.fa.fa-pencil.fa-fw
                                        | Upload photo
                                        input.absolute-left.transparent(name='avatar', type='file')
        .section-header.hidden-section.col-xs-8.col-sm-9
            form.form-wrapper
                .relative.box-md
                    span.form-btn-edit
                        button.btn(type='button')
                            i.fa.fa-pencil
                    .profile-info
                        .prof-itm.profile-name.clearfix
                            .name.pull-left
                                .view-field
                                    h3.profile-name.text-orange Victor
                                .edit-field.form-group
                                    label
                                        strong.text-red *
                                        |  Last Name
                                    input.form-control(type='text', name='lastName', autofocus='', value='Lee')
                            .last-name.pull-left
                                .view-field
                                    h3.profile-name.text-orange Lee
                                .edit-field
                                    label
                                        strong.text-red *
                                        |  First Name
                                    input.form-control(type='text', name='firstName', autofocus='', value='Victor')
                        .prof-itm.prof-itm-sm.clearfix
                            .view-field
                                span.view-control Frontend Developer
                            .edit-field.form-group
                                label
                                    strong.text-red *
                                    |  Professional Title
                                input.form-control(type='text', name='expectedPosition', value='Frontend Developer')
                        .prof-itm.prof-itm-sm.clearfix
                            .view-field
                                span.year-of-ex-view-field
                                    span.view-control 1
                                    |  years of Experience
                            .edit-field.form-group
                                label.lbl-year-ex
                                    strong.text-red *
                                    |  Years of Experience
                                input.form-control(type='text', name='yearOfExperience', maxlength='2', value='1')
                        .prof-itm.prof-itm-sm.clearfix
                            .view-field
                                //- span.view-control
                            .edit-field.form-group.m-t-n-xs
                                label
                                    input(type='checkbox', name='newGraduate', value='false')
                                    |    I am a new graduate / have no work experience
                        .prof-itm.prof-itm-sm.clearfix
                            .view-field.hidden-xs
                                p
                                    span.text-gray-light Latest company:
                                    a.current-company Staff.com
                                    br
                                    span.text-gray-light Highest education:
                                    a.current-highest-education Bachelors
                            .edit-field.text-right
                                button.btn-cancel.btn(type='button') Cancel
                                button.btn-save.btn.btn-primary(type='button') Save
                        .prof-itm.prof-itm-sm.clearfix.download-resume
                            .view-field
                                a.btn.btn-outline(href='javascript:;')
                                    i.fa.fa-fw.fa-file-pdf-o
                                    |  Download profile
                .absolute-right.m-t-n-lg.m-r-xs.visible-xs
                    a.btn.btn-block.contact-information-toggler(href='#')
                        i.fa.fa-fw.fa-suitcase
                        span.hidden-xs Contact Information
    .bg-gray.text-right.hidden-xs
        .row
            .col-xs-12.col-sm-5.pull-right
                a.btn.btn-block.contact-information-toggler.add-one-more-section(href='#')
                    i.fa.fa-fw.fa-suitcase
                    strong Contact Information
