// slider revolution start
// ================
.slider-banner-container
        ul.main-slider.slides.owl-carousel.owl-theme#owl-demo
            // slide 1
            li.item(style="background-image:url('images/slide-1.jpg')")
                //- img(src="images/slide-1.jpg", alt="")
                a.hot-corner.hidden-xs(target='_blank', href='#')
                    div
                        .col-sm-3.hot-corner__logo
                            img.img-responsive(src='./uploads/com-fuji.png', alt='')
                        .col-sm-9.hot-corner__desc
                            .hot-corner__company
                                strong A V Network Pte Ltd
                            .hot-corner__position.text-clip Printing
                            .hot-corner__location.text-clip #06-08 Tong Lee Bldg-Blk A, Singapore
            // slide 2
            li.item(style="background-image:url('images/slide-2.jpg')")
                //- img(src="images/slide-2.jpg", alt="")
                a.hot-corner.hidden-xs(target='_blank', href='#')
                    div
                        .col-sm-3.hot-corner__logo
                            img.img-responsive(src='./uploads/com-shiftasia.png', alt='')
                        .col-sm-9.hot-corner__desc
                            .hot-corner__company
                                strong SHIFTASIA
                            .hot-corner__position.text-clip Software
                            .hot-corner__location.text-clip #05-07 Midview Building, Singapore
            // slide 3
            li.item(style="background-image:url('images/slide-3.jpg')")
                //- img(src="images/slide-3.jpg", alt="")
                a.hot-corner.hidden-xs(target='_blank', href='#')
                    div
                        .col-sm-3.hot-corner__logo
                            img.img-responsive(src='./uploads/com-gen.jpg', alt='')
                        .col-sm-9.hot-corner__desc
                            .hot-corner__company
                                strong A-Tech Security & Engineering Pte Ltd
                            .hot-corner__position.text-clip Human Resources
                            .hot-corner__location.text-clip 50 Bukit Batok St 23, Singapore
