.box.box-consider
    .box-md
        h3.box-ttl Victor Lee, consider to
        .box-ct
            .list-group.clearfix.link-list
                .list-group-item 
                    .item-icon
                        i.fa.fa-bookmark
                    .item-content
                        p
                            a.save-job(href='javascript:;') Save this job
                .list-group-item
                    .item-icon
                        i.fa.fa-envelope
                    .item-content
                        p
                            a(href='javascript:;', alt='Add job alert for similar jobs') Email me similar jobs
                .list-group-item
                    .item-icon
                        i.fa.fa-mail-forward
                    .item-content
                        p 
                            a.detail-popover(href="javascript:;", title='', data-toggle="popover", data-title="Refer this job to a friend", data-placement="bottom") Refer to a friend
                .list-group-item
                    .item-icon
                        i.fa.fa-share-alt 
                    .item-content
                        p
                            | Share on
                            a.social-lk(target='_blank', title='Share on Facebook', href='#')
                                i.fa.fa-lg.fa-facebook-square
                            a.social-lk(target='_blank', title='Share on LinkedIn', href='#')
                                i.fa.fa-lg.fa-linkedin-square
                            a.social-lk(target='_blank', title='Share on Twitter', href='#')
                                i.fa.fa-lg.fa-twitter-square
// End: BOX ITEM 
.box
    .box-md
        h3.box-ttl Summary Job Details
        .box-ct
            .box-itm
                label Job level
                a(href="#") Entry Level
            .box-itm
                label Job categories
                a(href="#") Administrative/Clerical
                a(href="#") Customer Service
            .box-itm
                label Preferred language
                span English
// End: BOX ITEM
.box.box-also-view
    .box-md
        h3.box-ttl People Also Viewed
        .box-ct
            .box-itm
                a(href="#") Teacher Assistant
                span.smll St. Paul American School 
            .box-itm
                a(href="#") Receptionist Cum Admin Officer
                span.smll Branch of EF Education First Ltd in
            .box-itm
                a(href="#") Administrator
                span.smll Daewoo E&C Representative Office
// End: BOX ITEM
.box
    .box-md
        h3.box-ttl Similar Companies
        .box-ct
            .box-itm
                a(href="#") Kotra
                a(href="#") Lotte Shopping Plaza
                a(href="#") Fuji Xerox 
                a(href="#") U.S. Mission U.S. Embassy
                a(href="#") Jetstar Pacific Airlines
                a(href="#") Jebsen & Jessen Packaging Vietnam Co Ltd
                a(href="#") Microtec Vietnam
                a(href="#") Navigos Search
// End: BOX ITEM
// End: BOX RIGHT SIDEBAR - JOB DETAIL