.detail-navbar.navbar-fixed-top
    .container
        .row
            .col-md-10
                h2.detail-navbar-ttl Analog IC Design And Layout
            .col-md-2
                a.btn.btn-primary(href="javascript:;") Apply Now
.box
    .box-md
        .row
            .col-md-3
                a.job-avt(href="javascript:;")
                    img(src="./uploads/com-contemi.png", alt="")
            .col-md-7
                h2.detail-ttl Analog IC Design And Layout
                p.detail-desc
                    strong Staff.com
                    br
                    | #05-33 Singapore Post Centre, Singapore 408600
                    br
                    | Work Location:
                    a(href="#") Singapore
                span.salary-box
                    span Salary:
                    span.money   $200 - $250
            .apply-blk.col-md-2
                a.btn.btn-primary(href="javascript:;", data-toggle="modal", data-target="#apply-job") Apply Now
                a.btn.btn-default.btn-interested
                    i.fa.fa-fw.fa-thumbs-up
                    span  I'm interested
                p.saved-job
                    i.fa.fa-fw.fa-thumbs-up
                    span  I'm interested
                p
                    span.smll 610 Views
                    span.smll Posted 1 days ago
// End: BOX HEADER - JOB DETAIL
