.box
    .box-md
        h2.box-ttl Victor Lee, What We Can Offer
        .box-ct
            .benefit-highlight-blk
                .be-itm
                    i.fa.fa-fw.fa-lg.fa-user-md
                    span.be-name Very good Healthcare Plan
                .be-itm
                    i.fa.fa-fw.fa-lg.fa-graduation-cap
                    span.be-name Interesting Training Program
                .be-itm
                    i.fa.fa-fw.fa-lg.fa-glass
                    span.be-name Various events and team-building activities
        .job-img
            p Job images Slide here
.box.box-job-skills
    .box-md
        h2.box-ttl You Should Be Best At
        .skills-list
            span.tag-xs
                span.tag-name *communication Skill    
                span.fa.fa-plus
            span.tag-xs
                span.tag-name Excel    
                span.fa.fa-plus
            span.tag-xs
                span.tag-name English 
                span.fa.fa-plus
.box.box-job-desc
    .box-md
        h2.box-ttl What You Will Do
        .box-ct
            p Navigos Group, which consists of Vietnamworks.com and Navigos Search is looking for a new Office Angel to be our Receptionist. 
            p As the receptionist of Navigos Group, you will be the first impression our guests, clients and candidates get when they enter our building or contact us via phone. 
            p Your mission is to ensure that Dream Makers (employees) & Visitors have “WOW-Service” experience when coming to us. 
            p This position is to supervise overall office administration.
            p Front office:
            ul
                li  Receive guests, arrange meeting rooms, serve drinks
                li  Maintain cleanliness and tidiness of reception and all meetings
                li  Answer phone calls, transfer and take messages accurately
            p Back office:
            ol
                li Mail service: Incoming mail (receive, record and dispatch), Outgoing mail (work with suppliers to send all documents, record details, check/file receipts, track for late and lost mail, report)
                li Take care of taxi bills, taxi cards
                li Update seating map and extension list
                li Other admin tasks assigned by Operations
            p Navigos Group, which consists of Vietnamworks.com and Navigos Search is looking for a new Office Angel to be our Receptionist. 
            p As the receptionist of Navigos Group, you will be the first impression our guests, clients and candidates get when they enter our building or contact us via phone. 
                b Navigos Group
            p Your mission is to ensure that Dream Makers (employees) & Visitors have “WOW-Service” experience when coming to us. 
            p This position is to supervise overall office administration.
                a(href="#")  College Degree.
            table
                tr
                    th Table tr 1
                    th Table tr 2
                    th Table tr 3
                    th Table tr 4
                    th Table tr 5
                tr
                    td Table td
                    td Table td
                    td Table td
                    td Table td
                    td Table td
                tr
                    td Table td
                    td Table td
                    td Table td
                    td Table td
                    td Table td
                tr
                    td Table td
                    td Table td
                    td Table td
                    td Table td
                    td Table td
                tr
                    td Table td
                    td Table td
                    td Table td
                    td Table td
                    td Table td
.box
    .box-md
        h2.box-ttl What You Are Good At
        .box-ct
            ul
                li College Degree.
                li Fresh graduated.
                li Excellent command of all English skills (speaking, writing, reading and listening)
                li Teamwork and ability to work independently.
                li Full skilled practices and applications of Microsoft Word, Excel, Email, Internet.
.box
    .box-md
        h2.box-ttl About Our Company
        .box-ct
            p
                strong Navigos Group
                br
                | 130 Suong Nguyet Anh Street, Ben Thanh Ward, District 1, Ho Chi Minh City, Vietnam
                br
                | Contact person: TA Team
                br
                | Company size: 100-499
            p Navigos Group is the leading and largest Recruiting services Provider in Vietnam. We deliver quality recruiting solutions to the increasingly fast paced and internationalized Vietnamese market place. Our mission is to help people and organizations achieve success through excellence in matching and managing talent. We solve our clients’ most critical recruitment challenges so they can focus on their core business.
            p Our services include:
            ul
                li Navigos Search
                li VietnamWorks
            a.link-more.clearfix(href="#")
                i.fa.fa-arrow-right
                |  More jobs from this employer
// End: BOX LEFT - JOB DETAIL