.user-info.border-primary
    .row
        .col-xs-4.col-sm-3.center-block
            .user-pic
                a.avatar.img-circle(href="#", data-toggle='modal', data-target='#upload-img')
                    img(src="./uploads/user_ava.jpg")
                    p
                        i.fa.fa-camera
                        span  Change
            // End: AVATAR
        .section-header.hidden-section.col-xs-8.col-sm-9
            form.form-wrapper
                .relative.box-md
                    span.form-btn-edit
                        button.btn(type='button')
                            i.fa.fa-pencil
                    .profile-info
                        .prof-itm.profile-name.clearfix
                            .name.pull-left
                                .view-field
                                    h3.profile-name.text-orange Victor
                                .edit-field.form-group
                                    label
                                        strong.text-red *
                                        |  Last Name
                                    input.form-control(type='text', name='lastName', autofocus='', value='Lee')
                            .last-name.pull-left
                                .view-field
                                    h3.profile-name.text-orange Lee
                                .edit-field
                                    label
                                        strong.text-red *
                                        |  First Name
                                    input.form-control(type='text', name='firstName', autofocus='', value='Victor')
                        .prof-itm.prof-itm-sm.clearfix
                            .view-field
                                span.view-control Frontend Developer
                            .edit-field.form-group
                                label
                                    strong.text-red *
                                    |  Professional Title
                                input.form-control(type='text', name='expectedPosition', value='Frontend Developer')
                        .prof-itm.prof-itm-sm.clearfix
                            .view-field
                                span.year-of-ex-view-field
                                    span.view-control 1
                                    |  years of Experience
                            .edit-field.form-group
                                label.lbl-year-ex
                                    strong.text-red *
                                    |  Years of Experience
                                input.form-control(type='text', name='yearOfExperience', maxlength='2', value='1')
                        .prof-itm.prof-itm-sm.clearfix
                            .view-field
                                //- span.view-control
                            .edit-field.form-group.m-t-n-xs
                                label
                                    input(type='checkbox', name='newGraduate', value='false')
                                    |    I am a new graduate / have no work experience
                        .prof-itm.prof-itm-sm.clearfix
                            .view-field.hidden-xs
                                p
                                    span.text-gray-light Latest company:
                                    a.current-company Staff.com
                                    br
                                    span.text-gray-light Highest education:
                                    a.current-highest-education Bachelors
                            .edit-field.text-right
                                button.btn-cancel.btn.btn-default(type='button') Cancel
                                button.btn-save.btn.btn-primary(type='button') Save
                        .prof-itm.prof-itm-sm.clearfix.download-resume
                            .view-field
                                a.btn.btn-outline.btn-bdline(href='javascript:;')
                                    i.fa.fa-fw.fa-file-pdf-o
                                    |  Download profile
        // End: PROFILE INFO
    .bg-gray.text-right
        .clearfix
            a.btn.tab-prof.add-one-more-section.col-xs-12.col-md-4(href='javascript:;', data-target="#my-job-tab")
                i.fa.fa-fw.fa-suitcase
                strong My job
            a.btn.tab-prof.add-one-more-section.col-xs-12.col-md-4(href='javascript:;', data-target="#media-tab")
                i.fa.fa-fw.fa-cubes
                strong Media
            a.btn.tab-prof.add-one-more-section.col-xs-12.col-md-4(href='javascript:;', data-target="#contact-info-tab")
                i.fa.fa-fw.fa-file-text-o
                strong Contact Information
// End: FEATURED RESUME BOX
