.box
    fieldset
        .content-section
            .form-wrapper.box-md
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id nibh tortor. Phasellus varius urna in dui viverra fermentum. Morbi nec fringilla nibh. Aenean lobortis neque sed tempor efficitur.
                .table-responsive
                    table.table
                        tr.tbl-head
                            th(width="3%")
                            th.t-c Job
                            th.t-c Interview code
                            th.t-c Status
                            th.t-c Actions
                        tr
                            td.t-c
                                a(href="javascript:;", title="Invited")
                                    i.fa.fa-envelope-o
                            td.t-c Accountant
                            td.t-c JEIDUG
                            td.t-c.txt-gray Pending
                            td.t-c
                                a.accept(href="javascript:;", title="accept")
                                    i.fa.fa-check-circle
                                a.del-row(href="javascript:;")
                                    i.fa.fa-trash-o
                        tr
                            td.t-c
                                a(href="javascript:;", title="Directively")
                                    i.fa.fa-compress
                            td.t-c Developer
                            td.t-c ABDEFD
                            td.t-c.txt-blue Completed
                            td.t-c
                                a.accept(href="javascript:;", title="accept")
                                    i.fa.fa-check-circle
                                a.del-row(href="javascript:;")
                                    i.fa.fa-trash-o
                        tr
                            td.t-c
                                a(href="javascript:;", title="Directively")
                                    i.fa.fa-envelope-o
                            td.t-c Actor
                            td.t-c ABDEFD
                            td.t-c.txt-green Accepted
                            td.t-c
                                a.unaccept(href="javascript:;", title="unaccept")
                                    i.fa.fa-check-circle
                                a.del-row(href="javascript:;")
                                    i.fa.fa-trash-o
                        tr
                            td.t-c
                                a(href="javascript:;", title="Directively")
                                    i.fa.fa-envelope-o
                            td.t-c Developer
                            td.t-c ABDEFD
                            td.t-c.txt-red Rejected
                            td.t-c
                                a.unaccept(href="javascript:;", title="accept")
                                    i.fa.fa-check-circle
                                a.del-row(href="javascript:;")
                                    i.fa.fa-trash-o
                        tr
                            td.t-c
                                a(href="javascript:;", title="Directively")
                                    i.fa.fa-compress
                            td.t-c Developer
                            td.t-c ABDEFD
                            td.t-c.txt-black Closed
                            td.t-c
                                a.unaccept(href="javascript:;", title="unaccept")
                                    i.fa.fa-check-circle
                                a.del-row(href="javascript:;")
                                    i.fa.fa-trash-o
                // End: MY JOB TABLE
// End: TAB MY JOB