.box
    fieldset
        .content-section
            .form-wrapper.box-md
                .add-media.well.well-sm.dash
                    form
                        .row
                            .media-upl.t-c.col-md-5
                                p.media-desc Upload file .doc, .docx, .pdf, .mp4 only.
                                input.hidden(type="file", name="media-upl", id="media-upl")
                                label.btn.btn-default(for="media-upl") Upload
                                span.text-or
                                    span.line
                                    span.or-ct OR
                            .media-youtb.t-c.col-md-5
                                p.media-desc You can copy & paste to embed a youtube video. Ex: https://youtu.be/*gwH8D4y5ZnM*
                                input.form-control(type="text", name="youtb-link", placeholder="YouTube embed code")
                            .media-btn-group.t-c.col-md-2
                                a.btn.btn-primary(href="javascript:;") ADD
                // End: UPLOAD BLK
                .table-responsive
                    table.table
                        tr.tbl-head
                            th
                            th Name/Link
                            th.t-c Size
                            th.t-c Last Modified
                            th.t-c Actions
                        tr
                            td.fa.fa-file-word-o
                            td File CV #Victor Le
                            td.t-c 100Kb
                            td.t-c 10:24:21 - 10.10.2016
                            td.t-c
                                a.del-row(href="javascript:;")
                                    i.fa.fa-trash-o
                        tr
                            td.fa.fa-file-pdf-o
                            td File CV #Victor Le PDF format
                            td.t-c 1.5Mb
                            td.t-c 10:20:15 - 10.10.2016
                            td.t-c
                                a.del-row(href="javascript:;")
                                    i.fa.fa-trash-o
                        tr
                            td.fa.fa-file-video-o
                            td Test Video #1
                            td.t-c 10.3Mb
                            td.t-c 11:20:06 - 05.10.2016
                            td.t-c
                                a.del-row(href="javascript:;")
                                    i.fa.fa-trash-o
                        tr
                            td.fa.fa-youtube
                            td
                                a(href="#") https://www.youtube.com/watch?v=hnc_qF-WnmI
                            td.t-c -
                            td.t-c 01:20:06 - 08.10.2016
                            td.t-c
                                a.del-row(href="javascript:;")
                                    i.fa.fa-trash-o
                // End: MEDIA TABLE
// End: TAB MEDIA