.home-social
    h5 Subscribe to Us
    a.blog(href='#', target='_blank', title='')
    a.linkedin(href='#', target='_blank', title='LinkedIn')
    a.google-plus(href='#', target='_blank', title='Google Plus')
    a.facebook(href='#', target='_blank', title='Facebook')
    a.twitter(href='#', target='_blank', title='Twitter')
    a.slideshare(href='#', target='_blank', title='Slideshare')
    a.instagram(href='3', target='_blank', title='Instagram')
