.tools-blk
    h5 Tools
    ul.list-unstyled
        li
            a(href='#') My Account
        li
            a(href='#') My Resumes
        li
            a(href='#') My Jobs
        li
            a(href='#') My Job Alerts
        li
            a(href='#')
                | Employers'
                | Messages
        li
            a(href='#', target='_blank') Career Advice
