footer
    .container
        .row
            .col-md-4.hidden-sm.hidden-xs
                include footer/about
            .col-md-4.hidden-sm.hidden-xs
                include footer/tools
            .col-md-4.col-sm-12.col-xs-12
                .col-md-12
                    include footer/subscribe
                .col-md-12
                    include footer/verified
    .container
        hr.hidden-sm.hidden-xs
        .copyright
            p.text-muted.text-center
                | Copyright © Interview-spot
                br
                |  #05-33 Singapore Post Centre, Singapore 408600
