.header-container
  header.header.full-width.clearfix.transparent-header-on
    .header-right.clearfix
      .main-navigation.onclick.animated
        nav.navbar.navbar-default(role='navigation')
            include header/navbar-header
            include header/right-menu-loggedin
