// JS: SCRIPTS

// Jquery and Modernizr
script(src="js/libs.js")
// jQuery Revolution Slider
script(type='text/javascript', src='./js/the_project/rs-plugin/js/jquery.themepunch.tools.min.js')
script(type='text/javascript', src='./js/the_project/rs-plugin/js/jquery.themepunch.revolution.min.js')
// Isotope javascript
script(type='text/javascript', src='./js/the_project/isotope/isotope.pkgd.min.js')
// Magnific Popup javascript
script(type='text/javascript', src='./js/the_project/magnific-popup/jquery.magnific-popup.min.js')
// Appear javascript
script(type='text/javascript', src='./js/the_project/waypoints/jquery.waypoints.min.js')
// Count To javascript
script(type='text/javascript', src='./js/the_project/jquery.countTo.js')
// Parallax javascript
script(src='./js/the_project/jquery.parallax-1.1.3.js')
// Contact form
script(src='./js/the_project/jquery.validate.js')
// Background Video
script(src='./js/the_project/vide/jquery.vide.js')
// Owl carousel javascript
script(type='text/javascript', src='./js/the_project/owl-carousel/owl.carousel.js')
// SmoothScroll javascript
script(type='text/javascript', src='./js/the_project/jquery.browser.js')
script(type='text/javascript', src='./js/the_project/SmoothScroll.js')
// Initialization of Plugins
script(type='text/javascript', src='./js/template.js')
// Other plugins
script(type='text/javascript', src="js/plugins.js")
// Custom JS
script(type='text/javascript', src="js/start.js")
