.panel.panel-default.section-sidebar.section-recommended-jobs.mobile.hidden-xs
    .panel-heading
        | Recommended Jobs
    .panel-content.box-sm
        .list-group.pic-item
            .list-group-item
                .row
                    .col-xs-12.item-content-col
                        a(href='#')
                            strong.list-group-item-heading.text-clip
                                | PHP Senior Developer / Architect (Salary Up To 2500)
                            p.list-group-item-text Contemi
            .list-group-item
                .row
                    .col-xs-12.item-content-col
                        a(href='#')
                            strong.list-group-item-heading.text-clip
                                | Assistance with docker based application deployments - part time 100% remote
                            p.list-group-item-text Staff.com
            .list-group-item
                .row
                    .col-xs-12.item-content-col
                        a(href='#')
                            strong.list-group-item-heading.text-clip
                                | IOS Developers - Urgent
                            p.list-group-item-text Trente Co.,ltd
            .list-group-item
                .row
                    .col-xs-12.item-content-col
                        a(href='#')
                            strong.list-group-item-heading.text-clip
                                | Senior Engineer (c++, iOS)
                            p.list-group-item-text Backbase
            .list-group-item
                .row
                    .col-xs-12.item-content-col
                        a(href='#')
                            strong.list-group-item-heading.text-clip
                                | Java Chief Software Architect - $100k
                            p.list-group-item-text Crossover
