.panel.panel-default.section-sidebar.section-profile-level
    .panel-heading
        | Your Profile Strength
        span.pull-right(hidden='')
            i.fa.fa-spinner.fa-pulse
    .panel-content.box-sm
        input(type='hidden', value='1')
        .profile-strength
            span.pull-left.m-r-xs  Your profile strength is
            strong.text-success Beginner
        hr.m-t.m-b
        .take-to-next-level.strong-tooltip.relative
            strong Take your profile to the next level:
            .guide-box
                a.close-msg(href="javascript:;")
                    i.fa.fa-times-circle
                span Complete profile for your professional look!
        .list-group
            a.list-group-item.list-add-skill
                | + Add Key Skill
                | (1)
            a.list-group-item.list-add-exp + Add Work Experience
            a.list-group-item.list-add-edu + Add Education
