.panel.panel-default.section-sidebar.section-who-viewed-profile.hidden-xs
    .panel-heading
        | Who Viewed Me
    .panel-content.box-sm
        .row
            .col-xs-1.col-sm-4.col-md-2
                span.total-view 4
            .col-xs-11.col-sm-8.col-md-10
                span.link-list
                    a(href='#')
                        | Employers viewed your profile last 7 days
