block vars
  title Home - novaland.biz
  showTop false
  bodyClass home
  loggedIn false
  jobSrLoading false
  hasVideo false
doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    //-- Call font
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", href="icons/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    //--script(src="js/modernizr.js")
  body(class=bodyClass)
    .scrollToTop.circle
      i.fa.fa-chevron-up
    .page-wrapper
      if !loggedIn
        include ../includes/header.jade
      else
        include ../includes/header_loggedin.jade
      block main
      include ../includes/footer.jade
      include ../includes/scripts.jade
      block script
