.job-search
    .container.box
        .row
            .side-column.col-sm-4.col-lg-3
                form.filter-jobs
                    include left-column/m-blk
            .job-search-body.col-sm-8.col-lg-7
                include body/m-blk
            .col-lg-2
                include right-column/m-blk

