.container.j-search-form
    .frow
        .search-widget.col-sm-11
            .frow
                form.form-inline(action="#", method="POST", name="search-form")
                    .col-sm-10
                        .frow
                            .form-group.keyword-search.col-sm-4
                                .border-text-box
                                    input.form-control.search-all.input-lg#job-search(type='text', placeholder='Enter job title, position, skills...')
                            .form-group.category-search.col-sm-4.hidden-xs
                                .border-text-box
                                    select.select-category
                                        option(value='-1') All categories
                                        option(value='1') Accounting
                                        option(value='2') Administrative/Clerical
                                        option(value='3') Advertising/Promotion/PR
                                        option(value='4') Agriculture/Forestry
                                        option(value='37') Airlines/Tourism
                                        option(value='5') Architecture/Interior Design
                                        option(value='10') Arts/Design
                                        option(value='58') Auditing
                                        option(value='67') Auto/Automotive
                                        option(value='42') Banking
                                        option(value='43') Chemical/Biochemical
                                        option(value='7') Civil/Construction
                                        option(value='8') Consulting
                                        option(value='11') Customer Service
                                        option(value='78') Doctors
                                        option(value='79') Doctors/nurses
                                        option(value='12') Education/Training
                                        option(value='64') Electrical/Electronics
                                        option(value='15') Entry level
                                        option(value='16') Environment/Waste Services
                                        option(value='17') Executive management
                                        option(value='18') Expatriate Jobs in Vietnam
                                        option(value='19') Export-Import
                                        option(value='63') Fashion/Lifestyle
                                        option(value='59') Finance/Investment
                                        option(value='74') FMCG
                                        option(value='54') Food & Beverage
                                        option(value='36') Freight/Logistics
                                        option(value='77') Geology/Mineral
                                        option(value='22') Health/Medical Care
                                        option(value='66') High Technology
                                        option(value='75') Household
                                        option(value='83') HSE
                                        option(value='23') Human Resources
                                        option(value='76') HVAC
                                        option(value='68') Industrial Products
                                        option(value='24') Insurance
                                        option(value='57') Internet/Online Media
                                        option(value='47') Interpreter/Translator
                                        option(value='55') IT - Hardware/Networking
                                        option(value='35') IT - Software
                                        option(value='25') Legal/Contracts
                                        option(value='62') Luxury Goods
                                        option(value='84') Maintenance
                                        option(value='82') Marine
                                        option(value='27') Marketing
                                        option(value='65') Mechanical
                                        option(value='49') Merchandising/Purchasing/Supply Chain
                                        option(value='21') NGO/Non-Profit
                                        option(value='28') Oil/Gas
                                        option(value='39') Other
                                        option(value='71') Overseas Jobs
                                        option(value='81') Pharmaceutical representatives
                                        option(value='6') Pharmaceutical/Biotech
                                        option(value='80') Pharmacist
                                        option(value='69') Planning/Projects
                                        option(value='72') Printing
                                        option(value='26') Production/Process
                                        option(value='70') QA/QC
                                        option(value='30') Real Estate
                                        option(value='73') Restaurant/Hotel
                                        option(value='32') Retail/Wholesale
                                        option(value='33') Sales
                                        option(value='34') Sales Technical
                                        option(value='56') Securities & Trading
                                        option(value='41') Telecommunications
                                        option(value='51') Temporary/Contract
                                        option(value='52') Textiles/Garments/Footwear
                                        option(value='48') TV/Media/Newspaper
                                        option(value='53') Warehouse
                            .form-group.location-search.col-sm-4.hidden-xs
                                .border-text-box
                                    select.select-location
                                        option(value='-1') All locations
                                        option(value='29') Ho Chi Minh
                                        option(value='24') Ha Noi
                                        option(value='71') Mekong Delta
                                        option(value='2') An Giang
                                        option(value='3') Ba Ria - Vung Tau
                                        option(value='4') Bac Can
                                        option(value='5') Bac Giang
                                        option(value='6') Bac Lieu
                                        option(value='7') Bac Ninh
                                        option(value='8') Ben Tre
                                        option(value='9') Bien Hoa
                                        option(value='10') Binh Dinh
                                        option(value='11') Binh Duong
                                        option(value='12') Binh Phuoc
                                        option(value='13') Binh Thuan
                                        option(value='14') Ca Mau
                                        option(value='15') Can Tho
                                        option(value='16') Cao Bang
                                        option(value='17') Da Nang
                                        option(value='18') Dac Lac
                                        option(value='69') Dien Bien
                                        option(value='19') Dong Nai
                                        option(value='20') Dong Thap
                                        option(value='21') Gia Lai
                                        option(value='22') Ha Giang
                                        option(value='23') Ha Nam
                                        option(value='25') Ha Tay
                                        option(value='26') Ha Tinh
                                        option(value='27') Hai Duong
                                        option(value='28') Hai Phong
                                        option(value='30') Hoa Binh
                                        option(value='31') Hue
                                        option(value='32') Hung Yen
                                        option(value='33') Khanh Hoa
                                        option(value='34') Kon Tum
                                        option(value='35') Lai Chau
                                        option(value='36') Lam Dong
                                        option(value='37') Lang Son
                                        option(value='38') Lao Cai
                                        option(value='39') Long An
                                        option(value='40') Nam Dinh
                                        option(value='41') Nghe An
                                        option(value='42') Ninh Binh
                                        option(value='43') Ninh Thuan
                                        option(value='44') Phu Tho
                                        option(value='45') Phu Yen
                                        option(value='46') Quang Binh
                                        option(value='47') Quang Nam
                                        option(value='48') Quang Ngai
                                        option(value='49') Quang Ninh
                                        option(value='50') Quang Tri
                                        option(value='51') Soc Trang
                                        option(value='52') Son La
                                        option(value='53') Tay Ninh
                                        option(value='54') Thai Binh
                                        option(value='55') Thai Nguyen
                                        option(value='56') Thanh Hoa
                                        option(value='57') Thua Thien-Hue
                                        option(value='58') Tien Giang
                                        option(value='59') Tra Vinh
                                        option(value='60') Tuyen Quang
                                        option(value='61') Kien Giang
                                        option(value='62') Vinh Long
                                        option(value='63') Vinh Phuc
                                        option(value='65') Yen Bai
                                        option(value='66') Other
                                        option(value='70') International
                                        option(value='72') Hau Giang
                    .col-sm-2
                        button.btn-search.btn.btn-lg.btn-primary.hidden-xs(type='button')
                            i
                            // react-text: 157
                            // /react-text
                            // react-text: 158
                            | Find Jobs
                            // /react-text
        .category-widget.col-sm-1
            a.btn-browse-job.btn.btn-default.btn-lg.hidden-xs(href='#', target='_blank', title='Browse jobs by categories')
                span
                    i.fa.fa-lg.fa-list-alt
            a.btn-browse-job.btn.btn-default.btn-lg.visible-xs(href='#', target='_blank', title='Browse jobs by categories')
                span
                    i.fa.fa-lg.fa-list-alt
                    | Browse jobs by categories
