.course-info
    .row
        .col-sm-9
            h3 Promotions for job seekers on interviewspot
            strong Keep your motivation in working
            .push-top
                p
                    i.fa.fa-check
                    | Platinum membership 25,000 USD / month
                p
                    i.fa.fa-check
                    | 30 aerobic classes with full facilities
                p
                    i.fa.fa-check
                    | 2 training days with foreigner trainer
        .col-sm-3
            img.pull-right(src='./uploads/cali_fitness.png', width='130')
    .row
        .col-sm-4
            button.btn.btn-sm.btn-success See more
//- // Messsage
//- #cmb-success-message.alert.alert-success(hidden='hidden')
//-     strong Cám ơn bạn. Chúng tôi sẽ liên lạc với bạn sớm.
//- #cmb-error-message.alert.error-message(hidden='hidden')
//-     strong Oops!
//-     |  Có lỗi đã xảy ra, vui lòng thử lại.
