.jobs
    .top-jobs
        .job.job-hot
            .row
                .col-xs-3.col-sm-4.col-md-3
                    .logo
                        a(href='#', target='_blank')
                            img.img-responsive(title='Contemi', src='./uploads/com-contemi.png')
                .col-xs-9.col-sm-7.col-md-8
                    .job-info
                        // Job Title
                        h3
                            a.job-title(href='#', target='_blank') PHP Senior Developer / Architect (Salary Up To 2500)
                            span.new-tag (New)
                        p Contemi
                        .extra-info.text-clip
                            span
                                i.fa.fa-fw.fa-1x.fa-map-marker
                            | Singapore
                        .extra-info
                            span
                                i.fa.fa-fw.fa-dollar
                            a(href='#') Login to view salary
                        .posted
                            small Updated: 24/09/2016
                .col-sm-1.col-md-1.hidden-xs
                    .job-select
                        .checkbox
                            input(type='checkbox', class="choose-job", id='job-1', value="1")
                            label(for='job-1')
        // END: JOB itm ---------------------------------
        .job.job-hot
            .row
                .col-xs-3.col-sm-4.col-md-3
                    .logo
                        a(href='#', target='_blank')
                            img.img-responsive(title='Contemi', src='./uploads/com-ariston.gif')
                .col-xs-9.col-sm-7.col-md-8
                    .job-info
                        // Job Title
                        h3
                            a.job-title(href='#', target='_blank') Assistance with docker based application deployments - part time 100% remote
                            span.new-tag (New)
                        p Staff.com
                        .extra-info.text-clip
                            span
                                i.fa.fa-fw.fa-1x.fa-map-marker
                            | Singapore
                        .extra-info
                            span
                                i.fa.fa-fw.fa-dollar
                            a(href='#') Login to view salary
                        .posted
                            small Updated: 24/09/2016
                .col-sm-1.col-md-1.hidden-xs
                    .job-select
                        .checkbox
                            input(type='checkbox', class="choose-job", id='job-2', value="2")
                            label(for='job-2')
        .job.job-hot
            .row
                .col-xs-3.col-sm-4.col-md-3
                    .logo
                        a(href='#', target='_blank')
                            img.img-responsive(title='Contemi', src='./uploads/com-bridge.png')
                .col-xs-9.col-sm-7.col-md-8
                    .job-info
                        // Job Title
                        h3
                            a.job-title(href='#', target='_blank') Senior Frontend Developer / Consultant @ Backbase Amsterdam
                            span.new-tag (New)
                        p Backbase
                        .extra-info.text-clip
                            span
                                i.fa.fa-fw.fa-1x.fa-map-marker
                            | Singapore
                        .extra-info
                            span
                                i.fa.fa-fw.fa-dollar
                            a(href='#') Login to view salary
                        .posted
                            small Updated: 24/09/2016
                .col-sm-1.col-md-1.hidden-xs
                    .job-select
                        .checkbox
                            input(type='checkbox', class="choose-job", id='job-3', value="3")
                            label(for='job-3')
    // END: HOT JOBs
    .normal-jobs
        .job
            .row
                .col-xs-3.col-sm-4.col-md-3
                    .logo
                        a(href='#', target='_blank')
                            img.img-responsive(title='Contemi', src='./uploads/com-dek.gif')
                .col-xs-9.col-sm-7.col-md-8
                    .job-info
                        // Job Title
                        h3
                            a.job-title(href='#', target='_blank') Java Chief Software Architect - $100k
                            span.new-tag (New)
                        p Crossover
                        .extra-info.text-clip
                            span
                                i.fa.fa-fw.fa-1x.fa-map-marker
                            | Singapore
                        .extra-info
                            span
                                i.fa.fa-fw.fa-dollar
                            a(href='#') Login to view salary
                        .posted
                            small Updated: 24/09/2016
                .col-sm-1.col-md-1.hidden-xs
                    .job-select
                        .checkbox
                            input(type='checkbox', class="choose-job", id='job-4', value="4")
                            label(for='job-4')
        .job
            .row
                .col-xs-3.col-sm-4.col-md-3
                    .logo
                        a(href='#', target='_blank')
                            img.img-responsive(title='Contemi', src='./uploads/com-re.png')
                .col-xs-9.col-sm-7.col-md-8
                    .job-info
                        // Job Title
                        h3
                            a.job-title(href='#', target='_blank') Tree Planting Javascript Engineer
                            span.new-tag (New)
                        p Ecosia GmbH
                        .extra-info.text-clip
                            span
                                i.fa.fa-fw.fa-1x.fa-map-marker
                            | Singapore
                        .extra-info
                            span
                                i.fa.fa-fw.fa-dollar
                            a(href='#') Login to view salary
                        .posted
                            small Updated: 24/09/2016
                .col-sm-1.col-md-1.hidden-xs
                    .job-select
                        .checkbox
                            input(type='checkbox', class="choose-job", id='job-5', value="5")
                            label(for='job-5')
        .job
            .row
                .col-xs-3.col-sm-4.col-md-3
                    .logo
                        a(href='#', target='_blank')
                            img.img-responsive(title='Contemi', src='./uploads/com-amigo.png')
                .col-xs-9.col-sm-7.col-md-8
                    .job-info
                        // Job Title
                        h3
                            a.job-title(href='#', target='_blank') Site Reliability Engineer- Leading Open Source Company
                            span.new-tag (New)
                        p Elastic
                        .extra-info.text-clip
                            span
                                i.fa.fa-fw.fa-1x.fa-map-marker
                            | Singapore
                        .extra-info
                            span
                                i.fa.fa-fw.fa-dollar
                            a(href='#') Login to view salary
                        .posted
                            small Updated: 24/09/2016
                .col-sm-1.col-md-1.hidden-xs
                    .job-select
                        .checkbox
                            input(type='checkbox', class="choose-job", id='job-6', value="6")
                            label(for='job-6')
        .job.job-premium
            .row
                .col-xs-3.col-sm-4.col-md-3
                    .logo
                        a(href='#', target='_blank')
                            img.img-responsive(title='Contemi', src='./uploads/com-3m.jpg')
                .col-xs-9.col-sm-7.col-md-8
                    .job-info
                        // Job Title
                        h3
                            a.job-title(href='#', target='_blank') Site Reliability Engineer- Leading Open Source Company
                        p Elastic
                        .extra-info.text-clip
                            span
                                i.fa.fa-fw.fa-1x.fa-map-marker
                            | Singapore
                        .extra-info
                            span
                                i.fa.fa-fw.fa-dollar
                            a(href='#') Login to view salary
                        .posted
                            small Updated: 24/09/2016
                .col-sm-1.col-md-1.hidden-xs
                    .job-select
                        .checkbox
                            input(type='checkbox', class="choose-job", id='job-7', value="7")
                            label(for='job-7')
        .job
            .row
                .col-xs-3.col-sm-4.col-md-3
                    .logo
                        a(href='#', target='_blank')
                            span.logo-placeholder
                .col-xs-9.col-sm-7.col-md-8
                    .job-info
                        // Job Title
                        h3
                            a.job-title(href='#', target='_blank') Site Reliability Engineer- Leading Open Source Company
                        p Elastic
                        .extra-info.text-clip
                            span
                                i.fa.fa-fw.fa-1x.fa-map-marker
                            | Singapore
                        .extra-info
                            span
                                i.fa.fa-fw.fa-dollar
                            a(href='#') Login to view salary
                        .posted
                            small Updated: 24/09/2016
                .col-sm-1.col-md-1.hidden-xs
                    .job-select
                        .checkbox
                            input(type='checkbox', class="choose-job", id='job-8', value="8")
                            label(for='job-8')
        .job
            .row
                .col-xs-3.col-sm-4.col-md-3
                    .logo
                        a(href='#', target='_blank')
                            span.logo-placeholder
                .col-xs-9.col-sm-7.col-md-8
                    .job-info
                        // Job Title
                        h3
                            a.job-title(href='#', target='_blank') Site Reliability Engineer- Leading Open Source Company
                        p Elastic
                        .extra-info.text-clip
                            span
                                i.fa.fa-fw.fa-1x.fa-map-marker
                            | Singapore
                        .extra-info
                            span
                                i.fa.fa-fw.fa-dollar
                            a(href='#') Login to view salary
                        .posted
                            small Updated: 24/09/2016
                .col-sm-1.col-md-1.hidden-xs
                    .job-select
                        .checkbox
                            input(type='checkbox', class="choose-job", id='job-9', value="9")
                            label(for='job-9')
        .job
            .row
                .col-xs-3.col-sm-4.col-md-3
                    .logo
                        a(href='#', target='_blank')
                            span.logo-placeholder
                .col-xs-9.col-sm-7.col-md-8
                    .job-info
                        // Job Title
                        h3
                            a.job-title(href='#', target='_blank') Site Reliability Engineer- Leading Open Source Company
                        p Elastic
                        .extra-info.text-clip
                            span
                                i.fa.fa-fw.fa-1x.fa-map-marker
                            | Singapore
                        .extra-info
                            span
                                i.fa.fa-fw.fa-dollar
                            a(href='#') Login to view salary
                        .posted
                            small Updated: 24/09/2016
                .col-sm-1.col-md-1.hidden-xs
                    .job-select
                        .checkbox
                            input(type='checkbox', class="choose-job", id='job-10', value="10")
                            label(for='job-10')
    // END: JOBS
