// Toggle get grouped for better mobile display
.navbar-header
    button.navbar-toggle(type='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    //- ul.nav-mb.nav.navbar-nav.navbar-right
    //-     li
    //-         a.box-search-job(href="#")
    //-             i.fa.fa-lg.fa-search
    //-     li.dropdown
    //-         a.alert-notifications.dropdown-toggle(href="#", data-toggle="dropdown")
    //-             i.fa.fa-lg.fa-bell
    //-         .dropdown-menu.popover.notification-popover
    //-             h3.popover-title Notification
    //-             .popover-content
    //-                 .notification-item
    //-                   div
    //-                     i.fa.fa-info-circle.fa-fw
    //-                     a(href='#') Sign up now to get your dream jobs
    //-     li
    //-         a(href="#")
    //-             i.fa.fa-lg.fa-comments-o
    // header-left start
    // ================
    .header-left.clearfix
        // logo
        #logo-mobile.logo
            a(href='index.html')
                img#logo-img-mobile(src='./images/logo.png', alt='interview-spot.com')
    // header-left end
// Collect the nav links, forms, and other content for toggling
