.navbar-header
    button.navbar-toggle(type='button')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .header-left.clearfix
        // logo
        #logo-mobile.logo
            a(href='index.html')
                img#logo-img-mobile(src='./images/logo.png', alt='interview-spot.com')
    // END: .header-left

