#navbar-collapse-1.navbar-collapse
    // main-menu
    ul.nav.navbar-nav.navbar-left
        li
            a(href="#") All Jobs
        li
            a(href="#") Advice
    ul.nav.navbar-nav.navbar-right
        li
            a.box-search-job(href="job-search.html")
                i.fa.fa-lg.fa-search
                span Search
        li
            a.lang-select(href="#")
                img(src="./images/us.png", alt="", width="24")
                span US English
        li.dropdown
            a.alert-notifications.dropdown-toggle(href="#", data-toggle="dropdown")
                i.fa.fa-lg.fa-bell
                span.a-count 1
            .dropdown-menu.popover.notification-popover
                h3.popover-title Notification
                .popover-content
                    .notification-item
                      div
                        i.fa.fa-info-circle.fa-fw
                        a(href='#') Sign up now to get your dream jobs
        li
            a.comment-notifi(href="#")
                i.fa.fa-lg.fa-comments-o
                span Comments
        li.dropdown
            a.user-prof.dropdown-toggle(href="#", data-toggle="dropdown")
                span.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-user.fa-stack-1x.fa-inverse
                | Victor Lee
                span.caret
            ul.uprof-menu.dropdown-menu
                li.prof-itm
                    span Victor Lee
                    br 
                    a.btn.btn-primary(href="#") My Profile
                li
                    a(href="#")
                        i.fa.fa-fw.fa-lg.fa-user
                        |Account Information
                li
                    a(href="#")
                        i.fa.fa-fw.fa-lg.fa-heart
                        |Saved Jobs
                li
                    a(href="#")
                        i.fa.fa-fw.fa-lg.fa-envelope
                        |Job Alerts
                li
                    a(href="#")
                        i.fa.fa-fw.fa-lg.fa-comments-o
                        |Employer's Messages
                li
                    a(href="#")
                        i.fa.fa-fw.fa-lg.fa-eye
                        |Who viewed my profile
                li
                    a(href="#")
                        i.fa.fa-fw.fa-lg.fa-sign-out
                        | Logout