.section-detail.section-languages
    input#languageBlockResumeId(type='hidden', name='resumeId', value='3375529')
    .box.border-primary
        fieldset.form-view
            legend.box-md(data-toggle='tooltip', data-placement='top', data-original-title='', title='')
                i.fa.fa-fw.fa-list
                |  Languages
            .box-md.content-section-wrapper.m-b-n(style='display: block;')
                .row
                    .col-sm-4
                        strong Language
                    .col-sm-8
                        strong Proficiency
            .placeholder-section.box-md(hidden='', style='display: none;')
                span.placeholder Add all the languages you can speak to increase your job prospects.
            .sortable.content-section
                // Sample
                form#form-language-0.sample.form-view.box-md.form-wrapper.relative(hidden='')
                    input(type='hidden', name='resumeLanguageId', value='0')
                    span.form-btn-edit
                        button.btn.btn-sm.btn-default(type='button')
                            i.fa.fa-pencil
                    .row.choose-language.language-0
                        .col-sm-4
                            .edit-field
                                .border-text-box.m-r-lg
                                    select#language0.language-select.edit-control(name='language0', tabindex='2', data-placeholder='e.g. Vietnamese')
                                        option(value='0', selected='') Please select...
                                        option(value='1') Arabic
                                        option(value='2') Bengali
                                        option(value='3') Bulgarian
                                        option(value='4') Burmese
                                        option(value='5') Cambodian
                                        option(value='6') Cebuano
                                        option(value='7') Chinese (Cantonese)
                                        option(value='8') Chinese (Mandarin)
                                        option(value='9') Czech
                                        option(value='10') Danish
                                        option(value='11') Dutch
                                        option(value='12') English
                                        option(value='13') Finnish
                                        option(value='14') French
                                        option(value='15') German
                                        option(value='16') Greek
                                        option(value='17') Hindi
                                        option(value='18') Hungarian
                                        option(value='19') Indonesian
                                        option(value='20') Italian
                                        option(value='21') Japanese
                                        option(value='22') Javanese
                                        option(value='23') Korean
                                        option(value='24') Laotian
                                        option(value='25') Malay
                                        option(value='26') Norwegian
                                        option(value='27') Polish
                                        option(value='28') Portuguese
                                        option(value='29') Romanian
                                        option(value='30') Russian
                                        option(value='31') Spanish
                                        option(value='32') Swedish
                                        option(value='33') Tagolog
                                        option(value='34') Taiwanese
                                        option(value='35') Thai
                                        option(value='36') Turkish
                                        option(value='37') Ukranian
                                        option(value='38') Vietnamese
                                        option(value='39') Other
                            .view-field
                                p.form-control-static.view-control(data-type='select') Please select...
                        .col-sm-8
                            .edit-field.m-t-sm
                                .language-select0
                                    label.radio-inline
                                        input.edit-control(type='radio', name='language-level0', data-text-value='Beginner', value='1')
                                        |                                                 Beginner
                                    label.radio-inline
                                        input.edit-control(type='radio', name='language-level0', data-text-value='Intermediate', value='2')
                                        |                                                 Intermediate
                                    label.radio-inline
                                        input.edit-control(type='radio', name='language-level0', data-text-value='Advanced', value='3')
                                        |                                                 Advanced
                                    label.radio-inline
                                        input.edit-control(type='radio', name='language-level0', data-text-value='Native', value='4')
                                        |                                                 Native
                            .view-field
                                p.form-control-static.view-control(data-type='radio')
                    // Buttons
                    .form-group.push-top-sm.edit-field
                        .col-sm-6.text-right.pull-right
                            button.btn-remove-this-section.btn.btn-link.text-danger.btn-remove-language(type='button')
                                i.fa.fa-trash-o
                            button.btn.btn-default.btn-cancel.btn-cancel-language(type='button')
                                | Cancel
                            button.btn.btn-primary.btn-save.btn-save-language(type='button')
                                | Save
                // Form
                form#form-language-1.form-view.box-md.form-wrapper.relative
                    input(type='hidden', name='resumeLanguageId', value='1')
                    span.form-btn-edit
                        button.btn.btn-sm.btn-default(type='button')
                            i.fa.fa-pencil
                    .row.choose-language.language-0
                        .col-sm-4
                            .edit-field(style='display: none;')
                                .border-text-box.m-r-lg
                                    select#language1.language-select.edit-control(name='language1', tabindex='-1', data-placeholder='e.g. Vietnamese', title='', style='display: none;')
                                        option(value='0', selected='') Please select...
                                        option(value='1') Arabic
                                        option(value='2') Bengali
                                        option(value='3') Bulgarian
                                        option(value='4') Burmese
                                        option(value='5') Cambodian
                                        option(value='6') Cebuano
                                        option(value='7') Chinese (Cantonese)
                                        option(value='8') Chinese (Mandarin)
                                        option(value='9') Czech
                                        option(value='10') Danish
                                        option(value='11') Dutch
                                        option(value='12') English
                                        option(value='13') Finnish
                                        option(value='14') French
                                        option(value='15') German
                                        option(value='16') Greek
                                        option(value='17') Hindi
                                        option(value='18') Hungarian
                                        option(value='19') Indonesian
                                        option(value='20') Italian
                                        option(value='21') Japanese
                                        option(value='22') Javanese
                                        option(value='23') Korean
                                        option(value='24') Laotian
                                        option(value='25') Malay
                                        option(value='26') Norwegian
                                        option(value='27') Polish
                                        option(value='28') Portuguese
                                        option(value='29') Romanian
                                        option(value='30') Russian
                                        option(value='31') Spanish
                                        option(value='32') Swedish
                                        option(value='33') Tagolog
                                        option(value='34') Taiwanese
                                        option(value='35') Thai
                                        option(value='36') Turkish
                                        option(value='37') Ukranian
                                        option(value='38') Vietnamese
                                        option(value='39') Other
                            .view-field(style='display: block;')
                                p.form-control-static.view-control(data-type='select') English
                        .col-sm-8
                            .edit-field.m-t-sm(style='display: none;')
                                .language-select0
                                    label.radio-inline
                                        input.edit-control(type='radio', name='language-level1', data-text-value='Beginner', value='1')
                                        |                                                 Beginner
                                    label.radio-inline
                                        input.edit-control(type='radio', name='language-level1', data-text-value='Intermediate', value='2')
                                        |                                                 Intermediate
                                    label.radio-inline
                                        input.edit-control(type='radio', name='language-level1', data-text-value='Advanced', value='3')
                                        |                                                 Advanced
                                    label.radio-inline
                                        input.edit-control(type='radio', name='language-level1', data-text-value='Native', value='4')
                                        |                                                 Native
                            .view-field(style='display: block;')
                                p.form-control-static.view-control(data-type='radio') Advanced
                    // Buttons
                    .form-group.push-top-sm.edit-field(style='display: none;')
                        .col-sm-6.text-right.pull-right
                            button.btn-remove-this-section.btn.btn-link.text-danger.btn-remove-language(type='button')
                                i.fa.fa-trash-o
                            button.btn.btn-default.btn-cancel.btn-cancel-language(type='button')
                                | Cancel
                            button.btn.btn-primary.btn-save.btn-save-language(type='button')
                                | Save
            button#add-language-button.btn.btn-default.btn-block.no-border.add-one-more-section(type='button', style='display: block;')
                strong Add Language

