.section-detail.section-profile.m-t
    .box.border-success
        fieldset.form-view
            legend.box-md(data-toggle='tooltip', data-placement='top', data-original-title='', title='')
                i.fa.fa-fw.fa-list
                |  Summary
            .relative
                form.form-horizontal.box-md.form-wrapper
                    input(type='hidden', name='resume_id', value='3375529')
                    span.form-btn-edit
                        button.btn.btn-sm.btn-default(type='button')
                            i.fa.fa-pencil
                    .form-group.m-b-none
                        .view-field
                            p
                                | I am Victor Lee, a HTML/CSS specialist and Front End Developer from Singapore. I have more or less than one year of experience in front end development. I am highly skilled in HTML5/CSS3, Bootstrap & Responsive websites. I am currently looking for a job as a Frontend developer. You could find out more information of me at http://victor.lee
                            p Thank you very much!
                        .edit-field
                            p
                                label
                                    | Introduce yourself and describe your career objectives
                            textarea.form-control.edit-control.countdown-target(rows='5', autofocus='', name='profile', placeholder='Specify briefly your profile and career objectives', maxlength='5000', aria-hidden='true', style='display: none;')
                                | <p>I am Victor Lee, a HTML/CSS specialist and Front End Developer from Hochiminh City, Vietnam. I have more or less than one year of experience in front end development. I am highly skilled in HTML5/CSS3, Bootstrap & Responsive websites. I am currently looking for a job as a Frontend developer. You could find out more information of me at http://victor.lee</p>
                                | <p>Thank you very much!</p>
                            em.countdown.gray-light(data-text='character remaining') 4616 character remaining
                    // Buttons
                    .form-group.push-top-md.edit-field
                        .row
                            .col-sm-6
                            .col-sm-6.text-right
                                button.btn.btn-cancel.btn-default(type='button') Cancel
                                button.btn.btn-save.btn-primary(type='button') Save
