.section-detail.section-education
    .box.border-primary
        fieldset
            legend.box-md
                i.fa.fa-fw.fa-graduation-cap
                |  Education History
            .placeholder-section.box-md(hidden='')
                p.placeholder
                    | Input details of your education, as well as any professional qualifications or relevant training
            .sortable.content-section
                // Sample
                form.form-view.form-wrapper.box-md.relative.sample(hidden='')
                    input(type='hidden', name='resume_id', value='3375529')
                    input(type='hidden', name='entry_id', value='')
                    span.form-btn-edit
                        button.btn.btn-sm.btn-default(type='button')
                            i.fa.fa-pencil
                    .feature-blk
                        .view-field
                            h4.view-control.placeholder e.g. International Business
                        .edit-field
                            .form-group
                                label
                                    strong.text-red *
                                    | Subject
                                input.form-control(type='text', name='subject', placeholder='e.g. International Business', value='', maxlength='150', autofocus='')
                    .feature-blk
                        .view-field
                            p.view-control.placeholder e.g. University of Economics of Ho Chi Minh City
                            br
                            span.view-control Please select...
                        .edit-field
                            .row
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            | School
                                        input.form-control(type='text', name='school', placeholder='e.g. University of Economics of Ho Chi Minh City', value='', maxlength='150')
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            |                                                 Qualification
                                        .border-text-box
                                            select.qualification(name='qualification')
                                                option(value='0') Please select...
                                                option(value='2' ) High school
                                                option(value='3' ) Associate’s degree
                                                option(value='12' ) College
                                                option(value='4' ) Bachelors
                                                option(value='5' ) Masters
                                                option(value='6' ) Doctorate
                                                option(value='11') Others
                        .feature-blk
                            .view-field
                                p
                                    span.view-control.placeholder e.g. 09/2008
                                    |                                         -
                                    span.view-control.placeholder e.g. 12/2014
                                    span.total-time.placeholder
                                        | (
                                        span.years
                                            span.number-of-years 6
                                            span.lbl years
                                        span.months
                                            span.number-of-months 3
                                            span.lbl months
                                        | )
                            .edit-field
                                .row
                                    .col-sm-6
                                        .form-group
                                            label From month
                                            input.form-control.sample-datepicker(name='fromDate', placeholder='e.g. 09/2008')
                                    .col-sm-6
                                        .form-group
                                            label To month
                                            input.form-control.sample-datepicker(name='toDate', placeholder='e.g. 12/2014')
                        .feature-blk
                            .view-field
                                .view-control.placeholder Education Achievements
                            .edit-field
                                .form-group
                                    label Achievements
                                    textarea.form-control.emp-description.achievement-textarea.countdown-target(rows='3', name='description', placeholder='Education Achievements', maxlength='5000')
                        .form-group.edit-field
                            .row
                                .pull-left
                                    | (
                                    strong.text-red *
                                    | ) is required field
                                .pull-right.text-right
                                    button.btn-remove-this-section.btn.btn-link(type='button', data-toggle='modal', data-target='#dialog-remove-item')
                                        i.fa.fa-trash-o
                                    button.btn-cancel.btn.btn-default(type='button') Cancel
                                    button.btn-save.btn.btn-primary(type='button') Save
                // Form
                form.form-view.form-wrapper.box-md.relative
                    span.form-btn-edit
                        button.btn.btn-sm.btn-default(type='button')
                            i.fa.fa-pencil
                    .subject-blk
                        .view-field
                            h4.view-control International Economics
                        .edit-field
                            .form-group
                                label
                                    strong.text-red *
                                    | Subject
                                input.form-control(type='text', name='subject', placeholder='e.g. International Business', value='International Economics', maxlength='150', autofocus='')
                    .school-blk
                        .view-field
                            span.view-control Foreign Trade University
                            p.view-control Bachelors
                        .edit-field
                            .row
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            | School
                                        input.form-control(type='text', name='school', placeholder='e.g. University of Economics of Singapore City', value='Foreign Trade University', maxlength='150')
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            | Qualification
                                        .border-text-box
                                            select.qualification(name='qualification' tabindex='-1', title='', style='display: none;')
                                                option(value='0') Please select...
                                                option(value='2' ) High school
                                                option(value='3' ) Associate’s degree
                                                option(value='12' ) College
                                                option(value='4', selected='selected') Bachelors
                                                option(value='5' ) Masters
                                                option(value='6' ) Doctorate
                                                option(value='11' ) Others
                        .time-blk
                            .view-field
                                p
                                    span.view-control 09/2011
                                    |                                         -
                                    span.view-control 01/2015
                                    span.total-time
                                        | (
                                        span.years
                                            span.number-of-years 3
                                            span.lbl years
                                        span.months
                                            span.number-of-months 4
                                            span.lbl months
                                        |                                             )
                            .edit-field
                                .row
                                    .col-sm-6
                                        .form-group
                                            label From month
                                            input.form-control.datepicker(name='fromDate', placeholder='e.g. 09/2008', value='09/2011')
                                    .col-sm-6
                                        .form-group
                                            label To month
                                            input.form-control.datepicker(name='toDate', placeholder='e.g. 12/2014', value='01/2015')
                        .achievement-blk
                            .view-field
                                .view-control.placeholder Education Achievements
                            .edit-field
                                .form-group
                                    label Achievements
                                    textarea.form-control.emp-description.achievement-textarea.countdown-target(rows='3', name='description', placeholder='Education Achievements', maxlength='5000', style='display: none;', aria-hidden='true')
                                    em.countdown.gray-light 5000 character remaining

                        .edit-field
                            .pull-left
                                | (
                                strong.text-red *
                                | ) is required field
                            .pull-right
                                button.btn-remove-this-section.btn.btn-link(type='button', data-toggle='modal', data-target='#dialog-remove-item')
                                    i.fa.fa-trash-o
                                button.btn-cancel.btn.btn-default(type='button') Cancel
                                button.btn-save.btn.btn-primary(type='button') Save
                form.form-view.form-wrapper.box-md.relative
                    input(type='hidden', name='resume_id', value='3375529')
                    input(type='hidden', name='entry_id', value='1756214')
                    span.form-btn-edit
                        button.btn.btn-sm.btn-default(type='button')
                            i.fa.fa-pencil
                    .subject-blk
                        .view-field
                            h4.view-control English
                        .edit-field
                            .form-group
                                label
                                    strong.text-red *
                                    | Subject
                                input.form-control(type='text', name='subject', placeholder='e.g. International Business', value='English', maxlength='150', autofocus='')
                    .school-blk
                        .view-field
                            span.view-control Self-study
                            p.view-control Others
                        .edit-field
                            .row
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            | School
                                        input.form-control(type='text', name='school', placeholder='e.g. University of Economics of Singapore City', value='Self-study', maxlength='150')
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            | Qualification
                                        .border-text-box
                                            select.qualification(name='qualification' tabindex='-1', title='', style='display: none;')
                                                option(value='0') Please select...
                                                option(value='2', ) High school
                                                option(value='3', ) Associate’s degree
                                                option(value='12', ) College
                                                option(value='4', ) Bachelors
                                                option(value='5', ) Masters
                                                option(value='6', ) Doctorate
                                                option(value='11', selected='selected') Others
                        .time-blk
                            .view-field
                                p
                                    span.view-control.placeholder e.g. 09/2008
                                    |                                         -
                                    span.view-control.placeholder e.g. 12/2014
                                    span.total-time.placeholder
                                        | (
                                        span.years
                                            span.number-of-years 6
                                            span.lbl years
                                        span.months
                                            span.number-of-months 3
                                            span.lbl months
                                        |                                             )
                            .edit-field
                                .row
                                    .col-sm-6
                                        .form-group
                                            label From month
                                            input.form-control.datepicker(name='fromDate', placeholder='e.g. 09/2008', value='')
                                    .col-sm-6
                                        .form-group
                                            label To month
                                            input.form-control.datepicker(name='toDate', placeholder='e.g. 12/2014', value='')
                        .achievement-blk
                            .view-field
                                .view-control
                                    p TOEIC 830
                            .edit-field
                                .form-group
                                    label Achievements
                                    textarea.form-control.emp-description.achievement-textarea.countdown-target(rows='3', name='description', placeholder='Education Achievements', maxlength='5000', style='display: none;', aria-hidden='true') <p>TOEIC 830</p>
                        .edit-field
                            .pull-left
                                | (
                                strong.text-red *
                                | ) is required field
                            .pull-right.text-right
                                button.btn-remove-this-section.btn.btn-link(type='button', data-toggle='modal', data-target='#dialog-remove-item')
                                    i.fa.fa-trash-o
                                button.btn-cancel.btn.btn-default(type='button') Cancel
                                button.btn-save.btn.btn-primary(type='button')
            button.btn.btn-default.btn-block.add-one-more-section(type='button')
                strong Add Education History
