.section-detail.section-skills.skill-section
    .box.border-danger
        fieldset.edit-mode
            legend.box-md
                i.fa.fa-fw.fa-flash
                |  Key Skills
            .box-md.skill-section.form-wrapper.relative
                .skill-section
                    span.form-btn-edit
                        button.btn.btn-sm.btn-default(type='button')
                            i.fa.fa-pencil
                    form.form-horizontal
                        .view-mode
                            span.tag-xs(title='- Front-end Development')
                                span.tag-name - Front-end Development
                                input.input-tag-name(type='hidden', name='skills[]', value='157386')
                            span.tag-xs
                                span.tag-name CSS
                                input.input-tag-name(type='hidden', name='skills[]', value='787')
