.section-detail.section-skills.skill-section
    .box
        fieldset
            legend.box-md
                i.fa.fa-fw.fa-flash
                |  Key Skills
            .box-md.skill-section.form-wrapper.relative.clearfix
                span.form-btn-edit
                    button.btn.btn-sm(type='button')
                        i.fa.fa-pencil
                .view-skills
                    span.tag-xs
                        span.tag-name - Front-end Development
                    span.tag-xs
                        span.tag-name CSS
                .edit-skills(hidden="")
                    form.form-horizontal
                        .content-section.relative
                            .tags-edit
                                span.tag-xs
                                    span.tag-name CSS
                                    a(href="javascript:;")
                                        i.fa.fa-fw.fa-remove
                                span.tag-xs
                                    span.tag-name - Front-end Development
                                    a(href="javascript:;")
                                        i.fa.fa-fw.fa-remove
                            .skill-input
                                .auto-dropdown
                                    input.form-control(type="text", name="skills[]", autofocus)
                                    ul.auto-content
                                        li.auto-itm(data-id="1", data-name="Team working") Team working
                                        li.auto-itm(data-id="2", data-name="Teacher") Teacher
                                        li.auto-itm(data-id="3", data-name="TAA") TAA
                                        li.auto-itm(data-id="4", data-name="Teaching") Teaching
                                        li.auto-itm(data-id="5", data-name="Teen Services") Teen Services
                                button.btn(type="button")
                                    i.fa.fa-plus
                        .push-top-sm.pull-right
                            button.btn.btn-cancel(type="button") Cancel
                            button.btn.btn-primary(type="button") Save

