.section-detail.section-media
    .box
        fieldset
            legend.box-md
                i.fa.fa-fw.fa-cubes
                |  Media
            .content-section
                .form-wrapper.box-md
                    .table-responsive
                        table.table
                            tr.tbl-head
                                th
                                th Name/Link
                                th.t-c Size
                                th.t-c Last Modified
                                th.t-c Actions
                            tr
                                td.ico-word
                                    i.fa.fa-file-word-o
                                td File CV #Victor Le
                                td.t-c 100Kb
                                td.t-c 10:24:21 - 10.10.2016
                                td.t-c
                                    a.del-row(href="javascript:;")
                                        i.fa.fa-trash-o
                            tr
                                td.ico-pdf
                                    i.fa.fa-file-pdf-o
                                td File CV #Victor Le PDF format
                                td.t-c 1.5Mb
                                td.t-c 10:20:15 - 10.10.2016
                                td.t-c
                                    a.del-row(href="javascript:;")
                                        i.fa.fa-trash-o
                            tr
                                td.ico-video
                                    i.fa.fa-file-video-o
                                td Test Video #1
                                td.t-c 10.3Mb
                                td.t-c 11:20:06 - 05.10.2016
                                td.t-c
                                    a.del-row(href="javascript:;")
                                        i.fa.fa-trash-o
                            tr
                                td.ico-youtube
                                    i.fa.fa-youtube
                                td
                                    a(href="#") https://www.youtube.com/watch?v=hnc_qF-WnmI
                                td.t-c -
                                td.t-c 01:20:06 - 08.10.2016
                                td.t-c
                                    a.del-row(href="javascript:;")
                                        i.fa.fa-trash-o

