.section-detail.section-profile
    .box
        fieldset
            legend.box-md
                i.fa.fa-fw.fa-list
                |  Summary
            .relative
                form.form-horizontal.box-md.form-wrapper
                    span.form-btn-edit
                        button.btn.btn-sm(type='button')
                            i.fa.fa-pencil
                    .form-group.m-b-none
                        .view-field
                            p
                                | I am Victor Lee, a HTML/CSS specialist and Front End Developer from Singapore. I have more or less than one year of experience in front end development. I am highly skilled in HTML5/CSS3, Bootstrap & Responsive websites. I am currently looking for a job as a Frontend developer. You could find out more information of me at http://victor.lee
                            p Thank you very much!
                        .edit-field
                            p
                                label
                                    | Introduce yourself and describe your career objectives
                            textarea.form-control.countdown-target(rows='5', autofocus='', name='profile', maxlength='5000')
                            em.countdown.gray-light 5000 character remaining
                    // Buttons
                    .form-group.push-top-md.edit-field.edit-btns.clearfix
                        .text-right
                            button.btn.btn-cancel(type='button') Cancel
                            button.btn.btn-save.btn-primary(type='button') Save
