/**
 * JOB SEARCH CSS
 * Updated on 22/09/16
 */
.job-search {
    .box {
        background: white;
    }
}


@import "job-search/top.less";
@import "job-search/left-column.less";
@import "job-search/body-column.less";
@import "job-search/right-column.less";

// Applied JOBS BOX -------------------
.applied-jobs {
    .transition(all 0.25s ease-out);
    &.hidden-jobbox {
        .opacity(0);
        visibility: hidden;
        bottom: -100px;
    }
}

.appl-inner {
    &.collp {
        height: 35px;
    }
}
.minw-appl-job {
    width: 280px;
}
