/**
 * MODAL CSS
 * Updated on 22/09/16
 */
 .modal-content {
     .border-radius(3px);
     overflow: hidden;
     .modal-header {
         background: @red;
         .close {
             .opacity(1);
             color: white;
         }
     }
     .modal-body {
         p {
             margin: 0;
         }
     }
     .modal-footer {
         padding: 20px;
         .btn {
             border: 1px solid #ccc;
             background: #f4f4f4;
             margin: 0;
             padding: 5px 25px;
             font-size: 12px;
             &:hover {
                 background: #ddd;
             }
             + .btn {
                 margin-left: 10px;
             }
             &.btn-primary {
                 background: @red;
                 border-color: transparent;
                 &:hover {
                     background: @dred;
                 }
             }
         }
     }
 }

#upload-img {
    .modal-header {
        background: none;
        text-align: center;
        padding: 10px 15px;
        .modal-title {
            color: @dgray;
            font-size: 20px;
        }
        .close {
            color: #555;
        }
    }
    .modal-body {
        text-align: center;
        p {
            margin-bottom: 20px;
        }
    }
}
