/**
 * WARNING BOX CSS
 * Updated on 04/10/16
 */
 .warning {
    padding: 15px;
    .border-radius(3px);
    border-left: 5px solid @dred;
    background: white;
    margin-bottom: 15px;
    i {
        &.fa-info-circle {
            color: @red;
            font-size: 15px;
            margin-right: 5px;
        }
    }
    strong {
        margin-right: 5px;
    }
    a {
        color: #ccc;
    }
 }
