.section-detail.section-employment
    .box
        fieldset
            legend.box-md
                i.fa.fa-fw.fa-bank
                |  Employment History
            .placeholder-section.box-md(hidden='', style='display: none;')
                p.placeholder
                    | Input details of your employment history. The more detail you include about your previous experience, the more likely you are to appear in search results
            .sortable.content-section
                // Sample
                form.sample.form-wrapper.box-md.relative(hidden='hidden')
                    span.form-btn-edit
                        button.btn.btn-sm(type='button')
                            i.fa.fa-pencil
                    .feature-blk
                        .view-field
                            h4.view-control.placeholder e.g. UI/UX Designer
                        .edit-field
                            .form-group
                                label
                                    strong.text-red *
                                    |Position
                                input.form-control(type='text', name='position', value='', maxlength='150', autofocus='')
                    .feature-blk
                        .view-field
                            strong.view-control.placeholder e.g. interviewspot
                        .edit-field
                            .form-group
                                label
                                    strong.text-red *
                                    |Company
                                input.form-control.company-name(type='text', name='companyName', value='', maxlength='150')
                    .feature-blk
                        .view-field
                            p
                                span.view-control.placeholder e.g. 09/2008
                                |                                     -
                                span.view-control.placeholder e.g. 12/2014
                                span.total-time.placeholder
                                    | (
                                    span.years
                                        span.number-of-years 6
                                        span.lbl     years
                                    span.months
                                        span.number-of-months     3
                                        span.lbl    months
                                    |)
                        .edit-field
                            .row
                                .col-sm-4
                                    .form-group
                                        label From month
                                        input.form-control.datepicker(name='fromDate')
                                .col-sm-4
                                    .form-group
                                        label To month
                                        input.form-control.datepicker(name='toDate')
                                .col-sm-4
                                    .form-group
                                        label.control-label
                                            input.to-present-checkbox(type='checkbox', name='currentExp', value='1')
                                            em Current Job
                    .feature-blk
                        .view-field
                            .view-control.placeholder Describe your duties and responsibilities...
                        .edit-field
                            .form-group
                                label Description
                                textarea.form-control(rows='3', name='description')
                    .form-group.edit-field.edit-btns.clearfix
                        .pull-left
                            | (
                            strong.text-red *
                            | ) is required field
                        .pull-right.text-right
                            button.btn-cancel.btn(type='button') Cancel
                            button.btn.btn-primary(type='button') Save
                // Form
                form.form-wrapper.box-md.relative
                    span.form-btn-edit
                        button.btn.btn-sm(type='button')
                            i.fa.fa-pencil
                    .feature-blk
                        .view-field(style='display: block;')
                            h4.view-control Frontend dev
                        .edit-field(style='display: none;')
                            .form-group
                                label
                                    strong.text-red *
                                    |Position
                                input.form-control(type='text', name='position', value='', maxlength='150', autofocus='')
                    .feature-blk
                        .view-field(style='display: block;')
                            p.view-control Staff.com
                        .edit-field(style='display: none;')
                            .form-group
                                label
                                    strong.text-red *
                                    |Company
                                input.form-control.company-name(type='text', name='companyName', value='', maxlength='150')
                    .feature-blk
                        .view-field(style='display: block;')
                            p
                                span.view-control.placeholder e.g. 09/2008
                                |                                     -
                                span.view-control.placeholder e.g. 12/2014
                                span.total-time.placeholder
                                    |  (
                                    span.years
                                        span.number-of-years 6
                                        span.lbl    years
                                    span.months
                                        span.number-of-months    3
                                        span.lbl    months
                                    | )
                        .edit-field(style='display: none;')
                            .row
                                .col-sm-4
                                    .form-group
                                        label From month
                                        input.form-control.datepicker(name='fromDate')
                                .col-sm-4
                                    .form-group
                                        label To month
                                        input.form-control.datepicker(name='toDate')
                                .col-sm-4
                                    .form-group
                                        label.control-label
                                            input.to-present-checkbox(type='checkbox', name='currentExp', value='1')
                                            em Current Job
                    .feature-blk
                        .view-field(style='display: block;')
                            .view-control.placeholder Describe your duties and responsibilities...
                        .edit-field(style='display: none;')
                            .form-group
                                label Description
                                textarea.form-control(rows='3', name='description')
                                em.countdown.gray-light 5000 character remaining
                    .form-group.edit-field.edit-btns.clearfix(style='display: none;')
                        .pull-left
                            | (
                            strong.text-red *
                            | ) is required field
                        .pull-right.text-right
                            button.btn-remove-this-section.btn(type='button', data-toggle='modal', data-target='#dialog-remove-item')
                                i.fa.fa-trash-o
                            button.btn-cancel.btn(type='button') Cancel
                            button.btn.btn-primary(type='button') Save
            button.btn.btn-block.add-one-more-section(type='button')
                strong Add Employment History
