.section-detail.section-reference
    .box.border-gray
        fieldset
            legend.box-md
                i.fa.fa-fw.fa-book
                |  References
            .placeholder-section.box-md(hidden="")
                span.placeholder
                    | Provide past employment references to stand out among the crowd
            .sortable.content-section
                // Sample
                form.sample.form-wrapper.box-md.relative(hidden='')
                    span.form-btn-edit
                        button.btn.btn-sm(type='button')
                            i.fa.fa-pencil
                    .feature-blk
                        .view-field
                            h4.view-control.placeholder e.g. Mark Twain
                            span.view-control.placeholder e.g. Project Manager
                            br
                        .edit-field
                            .row
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            |  Full Name
                                        input.form-control(type='text', name='name', value='', maxlength='150', autofocus='')
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            |  Position
                                        input.form-control(type='text', name='position', value='', maxlength='150')
                    .feature-blk
                        .view-field
                            span.view-control.placeholder e.g. Navigos Group Vietnam
                            br
                        .edit-field
                            .form-group
                                label
                                    strong.text-red *
                                    |  Company
                                input.form-control(type='text', name='company', value='', maxlength='150')
                    .feature-blk
                        .view-field
                            span.view-control.placeholder e.g. reference@navigosgroup.com
                            |                                 -
                            span.view-control.placeholder e.g. 6533332211
                        .edit-field
                            .row
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            |                                                 Email
                                        input.form-control(type='email', name='email', value='', maxlength='150')
                                .col-sm-6
                                    .form-group
                                        label Phone Number
                                        input.form-control(type='text', name='phone', value='', maxlength='150')
                    .form-group.edit-field.edit-btns.clearfix
                        .pull-left
                            | (
                            strong.text-red *
                            | ) is required field
                        .pull-right.text-right
                            button.btn-cancel.btn.btn-default(type='button') Cancel
                            button.btn-save.btn.btn-primary(type='button') Save
                // Form
                form.form-wrapper.box-md.relative.form-horizontal
                    span.form-btn-edit
                        button.btn.btn-sm(type='button')
                            i.fa.fa-pencil
                    .feature-blk
                        .view-field(style='display: block;')
                            h4.view-control Robert M. Dock
                            span.view-control PM
                            br
                        .edit-field(style='display: none;')
                            .row
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            |  Full Name
                                        input.form-control(type='text', name='name', value='Mark Twain', maxlength='150', autofocus='')
                                        span.msg-name-required.error-message(hidden='hidden') This field is required
                                        span.msg-name-invalid.error-message(hidden='hidden') Please do not enter phone number or email
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            |  Position
                                        input.form-control(type='text', name='position', value='PM', maxlength='150')
                                        span.msg-position-required.error-message(hidden='hidden') This field is required
                                        span.msg-position-invalid.error-message(hidden='hidden') Please do not enter phone number or email
                    .feature-blk
                        .view-field(style='display: block;')
                            span.view-control Staff.com
                            br
                        .edit-field(style='display: none;')
                            .form-group
                                label
                                    strong.text-red *
                                    |  Company
                                input.form-control(type='text', name='company', value='Staff.com', maxlength='150')
                                span.msg-company-required.error-message(hidden='hidden') This field is required
                                span.msg-company-invalid.error-message(hidden='hidden') Please do not enter phone number or email
                    .feature-blk
                        .view-field(style='display: block;')
                            span.view-control robert.m.dock@gmail.com
                            |                                 -
                            span.view-control.placeholder  e.g. 6533332211
                        .edit-field(style='display: none;')
                            .row
                                .col-sm-6
                                    .form-group
                                        label
                                            strong.text-red *
                                            |                                                 Email
                                        input.form-control(type='email', name='email', value='nguyenvan@gmail.com', maxlength='150')
                                        span.msg-email-required.error-message(hidden='hidden') This field is required
                                        span.msg-email-invalid.error-message(hidden='hidden') Please enter correct email
                                .col-sm-6
                                    .form-group
                                        label Phone Number
                                        input.form-control(type='text', name='phone', value='', maxlength='150')
                                        span.msg-phone-invalid.error-message(hidden='hidden') Please enter correct phone number
                                        p.msg-description-suggestion.text-info(hidden='hidden') Please complete this field to improve your profile strength.
                    .form-group.edit-field.edit-btns(style='display: none;')
                        .pull-left
                            | (
                            strong.text-red *
                            | ) is required field
                        .pull-right.text-right
                            button.btn.btn-remove-this-section.btn-link(type='button', data-toggle='modal', data-target='#dialog-remove-item')
                                i.fa.fa-trash-o
                            button.btn-cancel.btn.btn-default(type='button') Cancel
                            button.btn-save.btn.btn-primary(type='button') Save
            button.btn.btn-block.add-one-more-section(type='button')
                strong Add Reference
