.section-detail.section-resume-header
    .box
        include section-resume-header/box
    .tab-prof-wrap
        #contact-info-tab.section-contact.tab-prof-ct
            include section-resume-header/tab-contact
        #my-job-tab.tab-prof-ct
            include section-resume-header/tab-my-job
        #media-tab.tab-prof-ct
            include section-resume-header/tab-media
// End: SECTION RESUME HEADER