#htab1.tab-pane.fade.in.active
    ul.job-list
        li.hot-job
            a(target='_blank', href='#', title='job here')
                span.score
                    span.label.label-danger HOT
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li.hot-job
            a(target='_blank', href='#', title='job here')
                span.score
                    span.label.label-danger HOT
                span.job-title
                    strong.text-clip Enterprise Sales Manager
                    em.text-clip Infobip Asia Pacific Sdn Bhd (malaysia)
        li.hot-job
            a(target='_blank', href='#', title='job here')
                span.score
                    span.label.label-danger HOT
                span.job-title
                    strong.text-clip Techexpo - The Hottest IT Event of The Year
                    em.text-clip Evolable Asia
        li.hot-job
            a(target='_blank', href='#', title='job here')
                span.score
                    span.label.label-danger HOT
                span.job-title
                    strong.text-clip Techexpo - The Hottest IT Event of The Year
                    em.text-clip Auswig
        li.hot-job
            a(target='_blank', href='#', title='job here')
                span.score
                    span.label.label-danger HOT
                span.job-title
                    strong.text-clip Senior Frontend
                    em.text-clip LUX Singapore
        li.hot-job
            a(target='_blank', href='#', title='job here')
                span.score
                    span.label.label-danger HOT
                span.job-title
                    strong.text-clip Team Leader, Senior Engineer ( PHP , C# )
                    em.text-clip Evolable Asia
        li.hot-job
            a(target='_blank', href='#', title='job here')
                span.score
                    span.label.label-danger HOT
                span.job-title
                    strong.text-clip IT staff
                    em.text-clip Jooly French
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Production Planner
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Architect Engineer
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Architect Engineer
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Architect Engineer
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Supply Chain Manager
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Supply Chain Manager
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Supply Chain Manager
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Supply Chain Manager
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Magento Inc.
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
        li
            a(target='_blank', href='#', title='job here')
                span.score
                span.job-title
                    strong.text-clip Urgent! 10 Senior Java Developer - Up To 1500usd
                    em.text-clip Evolable Asia
