.facet.facet-company
    .facet-title
        h5
            | COMPANIES
            i.fa.fa-angle-down.pull-right.fa-lg
    .facet-body.collapsed
        .checkboxes
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="company" value='Navigos Search’s Client', id="comp-1", name="filters['company'][]")
                label(for="comp-1")
                    span.text-clip(title='') Navigos Search’s Client
                    span.facet-count.pull-right 226
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="company" value='Ecosia GmbH', id="comp-2", name="filters['company'][]")
                label(for="comp-2")
                    span.text-clip(title='') Ecosia GmbH
                    span.facet-count.pull-right 33
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="company" value="Elastic", id="comp-3", name="filters['company'][]")
                label(for="comp-3")
                    span.text-clip(title="") Elastic
                    span.facet-count.pull-right 31
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="company" value='VPBank', id="comp-4", name="filters['company'][]")
                label(for="comp-4")
                    span.text-clip(title='') VPBank
                    span.facet-count.pull-right 27
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="company" value='Techcombank', id="comp-5", name="filters['company'][]")
                label(for="comp-5")
                    span.text-clip(title='') Techcombank
                    span.facet-count.pull-right 24
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="company" value='BIM Group', id="comp-6", name="filters['company'][]")
                label(for="comp-6")
                    span.text-clip(title='') BIM Group
                    span.facet-count.pull-right 24
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="company" value='ASWIG Solutions', id="comp-7", name="filters['company'][]")
                label(for="comp-7")
                    span.text-clip(title='') ASWIG Solutions
                    span.facet-count.pull-right 24
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="company" value='Nulab, Inc', id="comp-8", name="filters['company'][]")
                label(for="comp-8")
                    span.text-clip(title='') Nulab, Inc
                    span.facet-count.pull-right 24
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="company" value='Crossover', id="comp-9", name="filters['company'][]")
                label(for="comp-9")
                    span.text-clip(title='') Crossover
                    span.facet-count.pull-right 24
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="company" value='movingimage', id="comp-10", name="filters['company'][]")
                label(for="comp-10")
                    span.text-clip(title='') movingimage
                    span.facet-count.pull-right 24
        a.btn.btn-link.facet-link.show-more Show more
