.facet.facet-category
    .facet-title
        h5
            | JOB CATEGORIES
            i.fa.fa-angle-down.pull-right.fa-lg
    .facet-body
        .checkboxes
            .checkbox.clearfix
                    input.filter-ipt.hidden(type='checkbox', data-key="job" value='Sales', id="job-cat-1", name="filters['job'][]")
                    label(for="job-cat-1")
                        span.text-clip Sales
                        span.facet-count.pull-right 1,432
            .checkbox.clearfix
                    input.filter-ipt.hidden(type='checkbox', data-key="job" value='IT - Software', id="job-cat-2", name="filters['job'][]")
                    label(for="job-cat-2")
                        span.text-clip IT - Software
                        span.facet-count.pull-right 1,046
            .checkbox.clearfix
                    input.filter-ipt.hidden(type='checkbox', data-key="job" value='Marketing', id="job-cat-3", name="filters['job'][]")
                    label(for="job-cat-3")
                        span.text-clip Marketing
                        span.facet-count.pull-right 940
            .checkbox.clearfix
                    input.filter-ipt.hidden(type='checkbox', data-key="job" value='IT - Hardware/Networking', id="job-cat-4", name="filters['job'][]")
                    label(for="job-cat-4")
                        span.text-clip IT - Hardware/Networking
                        span.facet-count.pull-right 776
            .checkbox.clearfix
                    input.filter-ipt.hidden(type='checkbox', data-key="job" value='Finance/Investment', id="job-cat-5", name="filters['job'][]")
                    label(for="job-cat-5")
                        span.text-clip Finance/Investment
                        span.facet-count.pull-right 762
            .checkbox.clearfix
                    input.filter-ipt.hidden(type='checkbox', data-key="job" value='Civil/Construction', id="job-cat-6", name="filters['job'][]")
                    label(for="job-cat-6")
                        span.text-clip Civil/Construction
                        span.facet-count.pull-right 742
            .checkbox.clearfix
                    input.filter-ipt.hidden(type='checkbox', data-key="job" value='Administrative/Clerical', id="job-cat-7", name="filters['job'][]")
                    label(for="job-cat-7")
                        span.text-clip Administrative/Clerical
                        span.facet-count.pull-right 721
            .checkbox.clearfix
                    input.filter-ipt.hidden(type='checkbox', data-key="job" value='Customer Service', id="job-cat-8", name="filters['job'][]")
                    label(for="job-cat-8")
                        span.text-clip Customer Service
                        span.facet-count.pull-right 708
            .checkbox.clearfix
                    input.filter-ipt.hidden(type='checkbox', data-key="job" value='Internet/Online Media', id="job-cat-9", name="filters['job'][]")
                    label(for="job-cat-9")
                        span.text-clip Internet/Online Media
                        span.facet-count.pull-right 698
            .checkbox.clearfix
                    input.filter-ipt.hidden(type='checkbox', data-key="job" value='Accounting', id="job-cat-10", name="filters['job'][]")
                    label(for="job-cat-10")
                        span.text-clip Accounting
                        span.facet-count.pull-right 642
        a.btn.btn-link.show-more Show more
