.facet.facet-job-level
    .facet-title
        h5
            | JOB LEVEL
            i.fa.fa-angle-down.pull-right.fa-lg
    .facet-body
        .checkboxes
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="job_level", value='Experienced (non-manager)', id="job-level-1", name="filters['job_level'][]")
                label(for="job-level-1")
                    span.text-clip(title='Experienced (non-manager)', id="job-level-1") Experienced (non-manager)
                    span.facet-count.pull-right 5,222
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="job_level", value='Manager', id="job-level-2", name="filters['job_level'][]")
                label(for="job-level-2")
                    span.text-clip(title='Manager', id="job-level-1") Manager
                    span.facet-count.pull-right 1,406
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="job_level", value='Entry Level', id="job-level-3", name="filters['job_level'][]")
                label(for="job-level-3")
                    span.text-clip(title='Entry Level') Entry Level
                    span.facet-count.pull-right 325
            .checkbox.clearfix
                input.filter-ipt.hidden(type='checkbox', data-key="job_level", value='Director and above', id="job-level-4", name="filters['job_level'][]")
                label(for="job-level-4")
                    span.text-clip(title='Director and above') Director and above
                    span.facet-count.pull-right 246
