.facet.facet-location
    .facet-title
        h5
            | LOCATIONS
            i.fa.fa-angle-down.pull-right.fa-lg
    .facet-body
        .checkboxes
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="location" value='Ho Chi Minh', id="location-1", name="filters['location'][]")
                    label(for="location-1")
                        span.text-clip(title='Ho Chi Minh') Ho Chi Minh
                        span.facet-count.pull-right 3,539
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="location" value='Ha Noi', id="location-2", name="filters['location'][]")
                    label(for="location-2")
                        span.text-clip(title='Ha Noi') Ha Noi
                        span.facet-count.pull-right 3,039
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="location" value='Binh Duong', id="location-3", name="filters['location'][]")
                    label(for="location-3")
                        span.text-clip(title='Binh Duong') Binh Duong
                        span.facet-count.pull-right 293
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="location" value='Da Nang', id="location-4", name="filters['location'][]")
                    label(for="location-4")
                        span.text-clip(title='Da Nang') Da Nang
                        span.facet-count.pull-right 271
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="location" value='Dong Nai', id="location-5", name="filters['location'][]")
                    label(for="location-5")
                        span.text-clip(title='Dong Nai') Dong Nai
                        span.facet-count.pull-right 213
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="location" value='Hai Phong', id="location-6", name="filters['location'][]")
                    label(for="location-6")
                        span.text-clip(title='Hai Phong') Hai Phong
                        span.facet-count.pull-right 213
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="location" value='Bac Ninh', id="location-7", name="filters['location'][]")
                    label(for="location-7")
                        span.text-clip(title='Bac Ninh') Bac Ninh
                        span.facet-count.pull-right 213
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="location" value='Hung Yen', id="location-8", name="filters['location'][]")
                    label(for="location-8")
                        span.text-clip(title='Hung Yen') Hung Yen
                        span.facet-count.pull-right 213
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="location" value='Hai Duong', id="location-9", name="filters['location'][]")
                    label(for="location-9")
                        span.text-clip(title='Hai Duong') Hai Duong
                        span.facet-count.pull-right 213
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="location" value='Bien Hoa', id="location-10", name="filters['location'][]")
                    label(for="location-10")
                        span.text-clip(title='Bien Hoa') Bien Hoa
                        span.facet-count.pull-right 213
        a.btn.btn-link.show-more Show more
