//- button.btn.btn-primary.btn-sm.pull-right.btn-close-filter
//-     | OK
a.btn-clear.btn.btn-default.btn-sm(href='#')
    div
        i.fa.fa-close.text-gray-light.fa-fw
        span Clear all filters
a.btn-confirm.btn.btn-default(href="javascript:;") OK
include job-cat
include locations
include skills
include job-level
include salary-range
include companies
//- button.btn.btn-primary.btn-sm..pull-right.m-t-xs.btn-close-filter
//-     | OK
