.facet.facet-salary-range
    .facet-title
        h5
            | SALARY RANGE
            i.fa.fa-angle-down.pull-right.fa-lg
    .facet-body
        .radio
            div
                input.filter-ipt.hidden(type='radio', data-key="salary", id="job-salary-1", value="< 500" name="filters['salary']")
                label(for="job-salary-1")
                    | < 500
        .radio
            div
                input.filter-ipt.hidden(type='radio', data-key="salary", id="job-salary-2", value="500 - 1000", name="filters['salary']")
                label(for="job-salary-2")
                    | 500 - 1000
        .radio
            div
                input.filter-ipt.hidden(type='radio', data-key="salary", id="job-salary-3", value="1000 - 1500", name="filters['salary']")
                label(for="job-salary-3")
                    | 1000 - 1500
        .radio
            div
                input.filter-ipt.hidden(type='radio', data-key="salary", id="job-salary-4", value="1500 - 2000", name="filters['salary']")
                label(for="job-salary-4")
                    | 1500 - 2000
        .radio
            div
                input.filter-ipt.hidden(type='radio', data-key="salary", id="job-salary-5", value="2000 - 3000", name="filters['salary']")
                label(for="job-salary-5")
                    | 2000 - 3000
        .radio
            div
                input.filter-ipt.hidden(type='radio', data-key="salary", id="job-salary-6", value="> 3000", name="filters['salary']")
                label(for="job-salary-6")
                    | > 3000
