.facet.facet-skill
    .facet-title
        h5
            | SKILLS
            i.fa.fa-angle-down.pull-right.fa-lg
    .facet-body
        .checkboxes
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="skill", value='Sales', id="sale-1", name="filters['skill'][]")
                    label(for="sale-1")
                        span.text-clip(title='Sales') Sales
                        span.facet-count.pull-right 285
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="skill", value='Marketing', id="sale-2", name="filters['skill'][]")
                    label(for="sale-2")
                        span.text-clip(title='Marketing') Marketing
                        span.facet-count.pull-right 255
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="skill", value='English', id="sale-3", name="filters['skill'][]")
                    label(for="sale-3")
                        span.text-clip(title='English') English
                        span.facet-count.pull-right 195
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="skill", value='Business', id="sale-4", name="filters['skill'][]")
                    label(for="sale-4")
                        span.text-clip(title='Business') Business
                        span.facet-count.pull-right 186
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="skill", value='English - Good', id="sale-5", name="filters['skill'][]")
                    label(for="sale-5")
                        span.text-clip(title='English - Good') English - Good
                        span.facet-count.pull-right 180
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="skill", value='English - Average', id="sale-6", name="filters['skill'][]")
                    label(for="sale-6")
                        span.text-clip(title='English - Average') English - Average
                        span.facet-count.pull-right 180
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="skill", value='English - Beginner', id="sale-7", name="filters['skill'][]")
                    label(for="sale-7")
                        span.text-clip(title='English - Beginner') English - Beginner
                        span.facet-count.pull-right 180
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="skill", value='Chinese - Good', id="sale-8", name="filters['skill'][]")
                    label(for="sale-8")
                        span.text-clip(title='Chinese - Good') Chinese - Good
                        span.facet-count.pull-right 180
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="skill", value='Logistics', id="sale-9", name="filters['skill'][]")
                    label(for="sale-9")
                        span.text-clip(title='Logistics') Logistics
                        span.facet-count.pull-right 180
            .checkbox.clearfix
                div
                    input.filter-ipt.hidden(type='checkbox', data-key="skill", value='Soft Skills', id="sale-10", name="filters['skill'][]")
                    label(for="sale-10")
                        span.text-clip(title='Soft Skills') Soft Skills
                        span.facet-count.pull-right 180
        a.btn.btn-link.facet-link.show-more Show more
