ul.nav.nav-tabs.style-1(role='tablist')
    li.active
        a(href='#htab1', role='tab', data-toggle='tab')
            | Top Jobs
    li
        a(href='#htab2', role='tab', data-toggle='tab')
            | Recommended Jobs
